<link rel="stylesheet" href="{{ 'section-main-page-warranty-V1-0.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page-warranty-V1-0.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="WarrantyPolicy">
  <div class="WarrantyPolicyTitle">
    <p>Warranty Policy</p>
  </div>

  <p>At <span class="spanBold">Nakto Electric Bike Store</span> quality means everything. That's why we stand behind all our products with Nation Wide Limited Warranty.</p>
  <ul>
    <li>For all warranty claims please contact <span style="text-decoration: underline;">support@nakto.com</span> </li>
    <li>Warranty only applies to the original owner (non-transferable). </li>
    <li>	Original NAKTO parts and components covered by warranty can get one free replacement within 1-year limited warranty period and don't need shipping cost, but components that are not covered by warranty will require shipping costs and fees for themselves.</li>
  </ul>
  <div>
    <p>Warranty Period</p>
    <p>The warranty is registered automatically when the initial purchaser orders and then receive the product from our online shop and applies to the initial purchaser only. The NationWide Limited Warranty applies for a period of <span class="spanBold">ONE YEAR</span> upon the original date of purchase. <span class="spanBold">Proof of your purchase date</span> (e.g. order confirmation) is required for valid warranty coverage.</p>
    <P>Original NAKTO parts and components are covered by a 1-year limited warranty. Warranty can be used for an exchange of a component only once within the warranty period and with no shipping costs. If the components get the <span class="spanBold">SECOND</span> replacement, you need to pay for the shipping cost and the components themselves.</P>
  </div>
  
  <div>
    <p>Limited Warranty Covers</p>
    <p>Subjected to the terms, conditions and limitations herein, Nakto electric bikes warrant to the original retail purchaser of the bike that the <span class="spanBold">motor, battery, controller, throttle, brake</span> and <span class="spanBold">PAS system</span> of the bike will be free from detects in material and workmanship under normal use and service for one year from the date of delivery. The Limited Warranty exists for above-mentioned defects that were already present at the time of delivery of the bike and covers the <span class="spanBold">motor, battery</span> and <span class="spanBold">controller</span>. Rechargeable battery will experience a decrease in capacity over time as it is charged and discharged . Nakto warranties that your battery pack will achieve at least 1000 charge cycles expectancy. The battery warranty does include damage from power surges, use of an improper charger, improper maintenance or such other misuse or normal wear.</p>
    <p>Please kindly noted that Nakto E-bikes are not designed for extreme use including contest and water wading.</p>
  </div>

  <div>
    <p>Limited Warranty Does Not Cover</p>
    <ul>
      <li>Minor imperfections and/or deviations from design specifications that do not materially alter the functionality of the Product;</li>
      <li>Cosmetic damage to the outer surface/finishing and external parts of the Product, including without limitation cracks, dents or scratches on the Product's exterior; </li>
      <li>Deterioration of the Product due to normal wear and tear;</li>
      <li>Any parts that naturally and are expected to suffer wear and tear, including without limitation, tires, brake pads, callipers, handlebar grips, crankset, chain, saddles, pedals, dropouts, and bearings;</li>
      <li>Water damage and batteries that have been left to self-discharge for an extended period of time are not covered by the terms of the warranty. </li>
      <li>Defect or damage arising from any of the following:</li>
    </ul>
    <ul>
      <li>a) Improper assembly; </li>
      <li>b) Improper follow-up maintenance;</li>
      <li>c) Installation of components, parts, or accessories not originally intended for or compatible with the product as sold;</li>
      <li>d) Damage or failure due to accident, falls, misuse, abuse, or neglect; </li>
      <li>e) Alterations of the product or the specifications (e.g. paintwork, changes of the geometry/proportions, inadmissible add-on parts etc.); or </li>
      <li>f) Repair or maintenance by unauthorized dealer or workshop</li>
      <li>g) Exceeding the weight limits or speed limits</li>
      <li>h) Attempting to alter the programming of the electrical system, including, but not limited to increasing the speed limiter beyond 32km/hr.</li>
      <li>i) Labor to repair or replace the covered component(s), unless otherwise specified in the warranty terms chart. This warranty is limited to parts replacement only.</li>
    </ul>
  </div>

  <div>
    <p>Warranty Claim</p>
    <p>If you have a warranty problem, please contact us at <span style="text-decoration: underline;">support@nakto.com</span> with the following:</p>
    <ul class="warrantyClaim">
      <li>Proof of Order Confirmation with purchase date and order number;</li>
      <li>Email address and shipping information used in the placement of the order.</li>
    </ul>
  </div>


</div>





{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
