<link rel="stylesheet" href="{{ 'section-main-page-return-n-refund-V1-0.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page-return-n-refund-V1-0.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="returnRefundPolicy">
  <div class="returnRefundPolicyTitle">
    <p>Return and Refund Policy</p>
  </div>

  <div>
    <p>Pre-order & Order Cancellation</p>
    <p>For all orders (including pre-orders), your credit/debit card will be charged immediately. There will be no delay in payment collection, regardless of when the item is expected to ship.</p>
    <p>Any e-bike order cancellation before shipment will be charged an 8% process fee, and customers can only get a 92% refund of the total order price.</p>
    <p>Any e-bike order change such as change of address or exchange for items after shipment will be charged $20 as a change fee.</p>
    <p>All cancellations need to be done by email to the NAKTO service department. The customers cannot cancel the order by phone. The customers will receive a notification email after the order has been canceled successfully. Otherwise, the cancellation of the order was unsuccessful.</p>
  </div>
  
  <div>
    <p>Exchange Products</p>
    <p>For non-quality issues, no replacement is possible after 14 days of receiving the product.</p>
    <p>To be eligible for a replacement, the bike must be unused, free from dirt, dust, or any fragrances, and in the same packaging and condition that you received it. The mileage on the LCD screen must be less than 10 miles.</p>
    <p>For the request of model replacement in 14 days of receiving the product, you will be responsible for paying for shipping both ways, which is $300 in total (shipping cost of returning the received model: $150, the shipping cost of delivering the new model: $150).  After 14 days, bikes are not allowed to be replaced under any conditions.</p>
  </div>

  <div>
    <p>Attention: </p>
    <p>The shipping cost of returning service will be borne by customers. There are two ways to return the bike:</p>
    <ul>
      <li>$150 shipping fee and 20% restocking fee will be charged and NAKTO will provide shipping labels.</li>
      <li>Ships the e-bike back to NAKTO's warehouse on one's own.</li>
    </ul>
    <p>The mileage on the LCD screen of the e-bike must be less than 10 miles, there should be no wear, dirt, scratches, fragrance, or any other signs of use. All items received by the customer must be included in the original packaging and in the same condition because they were sent by NAKTO.</p>
    <p>Before a return is sent, the customer must have written approval of said return from NAKTO. If a customer sends a return without the written consent of NAKTO, a refund will not be issued and the customer will have to pay for shipping to get the item returned, or sacrifice the item.</p>
    <p>For returns agreed by NAKTO, please ship the bike after receiving the notification and shipping label provided by NAKTO. Or for the other option, If you decide to ship the bike by yourself, please do send us a notification with the tracking number after shipping any items for return. Once we received the item, we will either replace the item or give you a refund.</p>
    <p>For e-bike that has been delivered for more than 14 days or used for more than 10 miles, if there is any problem, we do not accept returns anymore, only repairs and replacements are allowed.</p>
    <p>If non-returnable items are returned without authorization from our customer service team, they will be returned to the customer immediately and the customer will be notified. Restocking fees may apply to unauthorized returns.</p>
  </div>

</div>





{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
