{{ 'main-index.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-index.js' | asset_url }}" defer="defer"></script>

<div class="mainIndex">
    <div>
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main1_4628ffd7-bb2a-45f5-81c8-67c0943fd354.jpg?v=1641362325" class="bannerMainImage" loading="lazy">
    </div>
    <div class="advertingBlock">
        <ul>
            <li class="textProductName">SANTA MONICA</li>
            <li class="advertiseWords">Have Fun <br>Out On The Town</li>
            <li class="featureProduct"><sapn style="color:#a4de2f;">•</sapn>Fat Tire eBike<sapn style="color:#a4de2f;">•</sapn>Pedal Assit<sapn style="color:#a4de2f;">•</sapn>Twist Throttle<sapn style="color:#a4de2f;">•</sapn>500W Brushless Motor</li>
            <li><a href="/collections/all-bikes" class="mainIndexBtn"><span>LEARN MORE</span></a></li>
        </ul>
    </div>
</div>
<div class="mainIndex3Col">
    <a href="/collections/fat-tire-ebike" class="mainIndex3Col_1">
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/superCruiser_mainIndex_600x600_c9373678-e26e-4e14-bca4-6b1c9497db8b.jpg?v=1641376409" width="100%" height="auto">
        <ul>
            <li>Fat Tire</li>
            <li>Fat tire fun.Safety.Versatility.</li>
        </ul>
    </a>
    <a href="/collections/city-ebike" class="mainIndex3Col_2">
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/classic_mainIndex_600x600_cbc31a33-8d1f-4309-8937-85bb271bd724.jpg?v=1641376409" width="100%" height="auto">
        <ul>
            <li>City</li>
            <li>Urban exploration.Distance.Comfort.</li>
        </ul>
    </a>
    <a href="/collections/mountain-ebike" class="mainIndex3Col_3">
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/ranger_mainIndex_600x600_7b1255ac-1da2-49e0-978b-58322ce882e8.jpg?v=1641376409" width="100%" height="auto">
        <ul>
            <li>Mountain</li>
            <li>Everyday Practically.Agility.Freedom.</li>
        </ul>
    </a>
</div>
<div class="popularEBikesColHeader">
    <ul>
        <li>Popular E-Bikes</li>
        <li><p>Learn about e-bike classes, <a href="/blogs/news/all-you-need-to-know-about-class-2-bike">click here</a></p><a href="/collections/all">View all</a></li>
    </ul>
</div>
<div class="popularEBikes">
    <ul>
        <a href="/products/santa-monica"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/index_santaMonica.png?v=1641451688" width="90%" height="auto"></a>
        <li class="popularEBikesTitle">Santa Monica</li>
        <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
        <li class="popularEBikesPrice">$1099.00</li>
        <li><a href="/products/santa-monica">Shop Now</a></li>
    </ul>
    <ul>
        <a href="/products/classic"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/index_classic.png?v=1641451688" width="90%" height="auto"></a>
        <li class="popularEBikesTitle">Classic</li>
        <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></li>
        <li class="popularEBikesPrice">$859.00</li>
        <li><a href="/products/classic">Shop Now</a></li>
    </ul>
    <ul>
        <a href="/products/super-cruiser"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/index_superCruiser.png?v=1641451689" width="90%" height="auto"></a>
        <li class="popularEBikesTitle">Super Cruiser</li>
        <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></li>
        <li class="popularEBikesPrice">$1299.00</li>
        <li><a href="/products/super-cruiser">Shop Now</a></li>
    </ul>
    <ul>
        <a href="/products/foldingoxw"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/index_foldingOX.png?v=1641451688" width="90%" height="auto"></a>
        <li class="popularEBikesTitle">Folding OX</li>
        <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></li>
        <li class="popularEBikesPrice">$1099.00</li>
        <li><a href="/products/foldingoxw">Shop Now</a></li>
    </ul>
</div>
<div class="mainIndexAboutUs">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/warehouse_to_customers_background_21-9.jpg?v=1641522418" width="100%" class="mainIndexAboutUsBgImg">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/warehouse_to_customers_background_21-9-half.jpg?v=1641799593" width="100%">
    <div class="mainIndexAboutUsTop">
        <ul>
            <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/warehouse2customerSmall.png?v=1641523255" width="100%" alt="">
            <li>Direct To You Pricing</li>
            <li>
                <p>Nakto Ebike,affordable ebike for everyone !</p>
                <p>You will never pay for a salesperson's commission, high retail rent and high retail advertising cost when buying electric bikes. We have our own factory with rigid quality standards. We have a tremendous amount of ebikes at our warehouse facility in U.S.</p>
                <p>NAKTO ebikes and accessories have already been inspected and are ready for immediate delivery.</p>
            </li>
            <li><a href="/pages/about-us" class="mainIndexAboutUsBtn"><span>ABOUT US</span></a></li>
        </ul>
    </div>
</div>
<div class="userComment">
    <div id="userReview">
        <div id="userReview_wrapper">
            <div class="uni_imgSlider">
                <div class="item">
                    <ul>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>"The Nakto Camel is a value priced cruiser ebike with fenders, suspension fork, rear rack, front basket, and battery integrated headlight.</p>
                            <p>Driven by a 250 watt rear hub-motor with both throttle and cadence based pedal assist, features a 36v 10 a battery and easy to controls. 6 speed Shimano derailleur, rim brake in the front and drum brake in the rear."</p>
                        </li>
                        <li>ElectricBikeReview</li>
                        <li>October 1st, 2019</li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>"My friend's daughter takes out the Nakto Classic E-Bike for a review and ride on a beautiful bike trail with a 250 watt more 1 level pedal assist with throttle, the Classic EBike is a great electrical bike for beginners."</p>
                        </li>
                        <li>GreenMotion Ebikes</li>
                        <li>August 23, 2020</li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>"The coolest fat tire cruiser electric bike on the market, the Nakto Cruiser 26'' fat tire is powerful and the perfect long range all terrain journey bike. With an excellent max mileage of 28 miles, powered by a rear hub 36V 300W motor and a lithium powered electric bike battery...make your life more cost efficient."</p>
                        </li>
                        <li>Larry Lynch</li>
                        <li>May 28, 2021</li>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                        <li>
                            <p>"The Nakto Classic is a new step through cruiser ebike from a company looking to take over the entry level market, with bikes such as this their focus seems to be extremely competitive price points matched with a list of features and customer support and a US headquarters for peace of mind with fenders, rear rack, front basket, and battery integrated headlight"</p>
                        </li>
                        <li>ElectricBike Review</li>
                        <li>May 28, 2021</li>
                    </ul>
                </div>
            </div>	
        </div>
        <div id="userReview_ctlBtn1">
          <div class="leftBtns"></div>
        </div>
    </div>
    <div class="userReviwImg">
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/userCommentImg.jpg?v=1641548824" width="100%" height="auto" alt="">
    </div>
</div>
<div class="videoRow1">
    <div id="videoRow1_wrapper">
        <div class="uni_videoSlider">
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZFUAT6Mymp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/D9A9_6K0a_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/0FbPPYHGVSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZFUAT6Mymp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/D9A9_6K0a_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/0FbPPYHGVSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZFUAT6Mymp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
        </div>	
    </div>
</div>

<div class="videoRow2">
    <div id="videoRow2_wrapper">
        <div class="uni_videoSlider">
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/CDe9zmBMMPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/HaPv7mLm420" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZRZD0oNOkD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/CDe9zmBMMPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/HaPv7mLm420" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZRZD0oNOkD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/CDe9zmBMMPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
        </div>	
    </div>
</div>

<div class="mainIndexNaktoKlarna">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/naktoKlarnaBgImg.jpg?v=1641609830" width="100%" class="mainIndexNaktoKlarnaBgImg">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/naktoKlarnaBgImg-mobile.jpg?v=1641801573" width="100%" alt="">
    <div class="mainIndexNaktoKlarnaTop">
        <ul>
            <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/nakto_klarna.png?v=1641609829" alt="">
            <li>Ride Now, Pay Later</li>
            <li>
                <p>We're partnered with Klarna now to provide smooth and effortless</p>
                <p>shopping experience for our customers. Enjoy the flexibility to shop the</p>
                <p>electric bike you want and pay over time. <strong>Pay in 4 with interest-free.</strong></p>
            </li>
            <li><a href="/collections/all-bikes" class="mainIndexNaktoKlarnaBtn"><span>SHOP NOW</span></a></li>
        </ul>
    </div>
</div>

<div class="ourBlogsHeader">
    <ul>
        <li><p>Our Latest Blog</p><a href="/collections/all">View all</a></li>
    </ul>
</div>
<div class="ourBlogs">
    <ul>
        <a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/ourLatestBlogClassic.jpg?v=1641611090" width="100%" height="auto"></a>
        <li class="ourBlogsTitle"><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022">How To Choose Electric Bike For Women 2022</a></li>
        <li class="ourBlogsBriefContent">How To Choose Electric Bike For Women 2022 JANUARY 5, 2022 Share: The wonderful outdoors belongs to everyone, and perhaps...</li>
    </ul>
    <ul>
        <a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/ourLatestBlogCruiser.jpg?v=1641611433" width="100%" height="auto"></a>
        <li class="ourBlogsTitle"><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike">All You Need To Know About Class 2 Bike</a></li>
        <li class="ourBlogsBriefContent">All You Need To Know About Ebike Classes December 23, 2021 Share: Around the 1890s the people of the US...</li>
    </ul>
    <ul>
        <a href="/blogs/cycling-life/why-is-nakto-santamonica-so-impressive"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/ourLatestBlogSantaMonica.jpg?v=1641611090" width="100%" height="auto"></a>
        <li class="ourBlogsTitle"><a href="/blogs/cycling-life/why-is-nakto-santamonica-so-impressive">Why is Nakto Santamonica so impressive</a></li>
        <li class="ourBlogsBriefContent">Why is Nakto Santamonica so impressive Best fat tire e-bike under $1,300 by Vincent  November 3rd, 2021 Purchasing a fat...</li>
    </ul>
</div>


<div class="havingFunRidingNakto">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/Instagram_Nakto.jpg?v=1641614390" width="100%" class="havingFunRidingNaktoBgImg">
    <div class="havingFunRidingNaktoTop">
        <ul>
            <li>#Havingfunriding</li>
            <li>with Nakto</li>
            <li>
                <p>Tag us on Instagram with #havingfunriding to be featured in our gallery.</p>
            </li>
            <li><a href="/collections/all-bikes" class="havingFunRidingNaktoBtn"><span>SHOP NOW</span></a></li>
        </ul>
    </div>
</div>
<div class="youAreSupported">
    <ul>
        <li>You're Supported</li>
        <li>
            <p>Which type of electric bikes should you buy? How to access your shipping information? We like to spend our time delivering supportive services and the best electric bikes to satisfy our customers.</p>
        </li>
        <li><a href="/pages/contact-us" class="youAreSupportedBtn"><span>GET SUPPORT</span></a></li>
    </ul>
</div>

<div class="freeDelivery">
    <div class="freeDelivery3Col">
        <div><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/icon1.png?v=1641618853" width="65" height="auto" alt=""></div>
        <div><h3>Fast & Free U.S. Delivery</h3><p>We offer free standard shipping over $50 in the continental U.S.</p></div>
    </div>
    <div class="freeDelivery3Col">
        <div><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/icon2.png?v=1641618866" width="65" height="auto" alt=""></div>
        <div><h3>Price Guarantee</h3><p>You would enjoy the lowest price guarantee! We provide the best price for our e-bikes.</p></div>
    </div>
    <div class="freeDelivery3Col">
        <div><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/icon3.png?v=1641618866" width="65" height="auto" alt=""></div>
        <div><h3>One Year Limited Warranty</h3><p>We provide up to one year limited warranty on our electric bikes.</p></div>
    </div>
</div>