<link rel="stylesheet" href="{{ 'section-main-page-intellectualProperty.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page-return-n-refund.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="intellectualProperty">
  <div class="intellectualPropertyTitle">
    <p>Intellectual Property Rights</p>
  </div>

  <div style="text-align: center;">
    <p><img src="https://cdn.shopifycdn.net/s/files/1/0556/1253/9040/files/intellectualPropertyRights-img.png?v=1642997089" width="auto" alt=""></p>
  </div>

</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
