{{ 'main-index.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-index.js' | asset_url }}" defer="defer"></script>

<div class="videoRow1">
    <div id="videoRow1_wrapper">
        <div class="uni_videoSlider">
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZFUAT6Mymp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/D9A9_6K0a_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/0FbPPYHGVSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZFUAT6Mymp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/D9A9_6K0a_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/0FbPPYHGVSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZFUAT6Mymp4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
        </div>	
    </div>
</div>

<div class="videoRow2">
    <div id="videoRow2_wrapper">
        <div class="uni_videoSlider">
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/CDe9zmBMMPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/HaPv7mLm420" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZRZD0oNOkD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/CDe9zmBMMPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/HaPv7mLm420" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/ZRZD0oNOkD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
            <div class="videoSlider_item">
                <ul>
                    <li><iframe width="620" height="350" src="https://www.youtube.com/embed/CDe9zmBMMPU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
                </ul>
            </div>
        </div>	
    </div>
</div>

<div class="mainIndexNaktoKlarna">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/naktoKlarnaBgImg.jpg?v=1641609830" width="100%" class="mainIndexNaktoKlarnaBgImg">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/naktoKlarnaBgImg-mobile.jpg?v=1641801573" width="100%" alt="">
    <div class="mainIndexNaktoKlarnaTop">
        <ul>
            <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/nakto_klarna.png?v=1641609829" alt="">
            <li>Ride Now, Pay Later</li>
            <li>
                <p>We're partnered with Klarna now to provide smooth and effortless</p>
                <p>shopping experience for our customers. Enjoy the flexibility to shop the</p>
                <p>electric bike you want and pay over time. <strong>Pay in 4 with interest-free.</strong></p>
            </li>
            <li><a href="/collections/all-bikes" class="mainIndexNaktoKlarnaBtn"><span>SHOP NOW</span></a></li>
        </ul>
    </div>
</div>

<div class="ourBlogsHeader">
    <ul>
        <li><p>Our Latest Blog</p><a href="/collections/all">View all</a></li>
    </ul>
</div>
<div class="ourBlogs">
    <ul>
        <a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/ourLatestBlogClassic.jpg?v=1641611090" width="100%" height="auto"></a>
        <li class="ourBlogsTitle"><a href="/blogs/cycling-life/how-to-choose-electric-bike-for-women-2022">How To Choose Electric Bike For Women 2022</a></li>
        <li class="ourBlogsBriefContent">How To Choose Electric Bike For Women 2022 JANUARY 5, 2022 Share: The wonderful outdoors belongs to everyone, and perhaps...</li>
    </ul>
    <ul>
        <a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/ourLatestBlogCruiser.jpg?v=1641611433" width="100%" height="auto"></a>
        <li class="ourBlogsTitle"><a href="/blogs/cycling-life/all-you-need-to-know-about-class-2-bike">All You Need To Know About Class 2 Bike</a></li>
        <li class="ourBlogsBriefContent">All You Need To Know About Ebike Classes December 23, 2021 Share: Around the 1890s the people of the US...</li>
    </ul>
    <ul>
        <a href="/blogs/cycling-life/why-is-nakto-santamonica-so-impressive"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/ourLatestBlogSantaMonica.jpg?v=1641611090" width="100%" height="auto"></a>
        <li class="ourBlogsTitle"><a href="/blogs/cycling-life/why-is-nakto-santamonica-so-impressive">Why is Nakto Santamonica so impressive</a></li>
        <li class="ourBlogsBriefContent">Why is Nakto Santamonica so impressive Best fat tire e-bike under $1,300 by Vincent  November 3rd, 2021 Purchasing a fat...</li>
    </ul>
</div>


<div class="havingFunRidingNakto">
    <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/Instagram_Nakto.jpg?v=1641614390" width="100%" class="havingFunRidingNaktoBgImg">
    <div class="havingFunRidingNaktoTop">
        <ul>
            <li>#Havingfunriding</li>
            <li>with Nakto</li>
            <li>
                <p>Tag us on Instagram with #havingfunriding to be featured in our gallery.</p>
            </li>
            <li><a href="/collections/all-bikes" class="havingFunRidingNaktoBtn"><span>SHOP NOW</span></a></li>
        </ul>
    </div>
</div>
<div class="youAreSupported">
    <ul>
        <li>You're Supported</li>
        <li>
            <p>Which type of electric bikes should you buy? How to access your shipping information? We like to spend our time delivering supportive services and the best electric bikes to satisfy our customers.</p>
        </li>
        <li><a href="/pages/contact-us" class="youAreSupportedBtn"><span>GET SUPPORT</span></a></li>
    </ul>
</div>

<div class="freeDelivery">
    <div class="freeDelivery3Col">
        <div><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/icon1.png?v=1641618853" width="65" height="auto" alt=""></div>
        <div><h3>Fast & Free U.S. Delivery</h3><p>We offer free standard shipping over $50 in the continental U.S.</p></div>
    </div>
    <div class="freeDelivery3Col">
        <div><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/icon2.png?v=1641618866" width="65" height="auto" alt=""></div>
        <div><h3>Price Guarantee</h3><p>You would enjoy the lowest price guarantee! We provide the best price for our e-bikes.</p></div>
    </div>
    <div class="freeDelivery3Col">
        <div><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/icon3.png?v=1641618866" width="65" height="auto" alt=""></div>
        <div><h3>One Year Limited Warranty</h3><p>We provide up to one year limited warranty on our electric bikes.</p></div>
    </div>
</div>