<link rel="stylesheet" href="{{ 'section-main-page-shipping-policy-V1-0.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page-shipping-policy-V1-0.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="shippingPolicy">
  <div class="shippingPolicyTitle">
    <p>Shipping Policy</p>
  </div>
  
  <div>
    <p>Shipping Note</p>
    <p>United Parcel Service(<span class="spanBold">UPS</span>) is the package service used by Nakto Electric Bike Store. All <span class="spanBold">domestic regular orders</span> are shipped via <span class="spanBold">UPS</span>UPS with <span class="spanBold">NO MINIMUM ORDER AMOUNT</span>. All bulk orders are shipped via Truck. All shipments must be opened, inspected and signed by you or someone on your behalf. All packages are well inspected when they leave our warehouse. If a package is damaged in shipment, you should not accept the package and email <span style="color: #78a61a;">naktousa@gmail.com</span> immediately to report any defects or damages.</p>
    <p><span class="spanBold">Shipping Cost:</span> Shipping is free in the US for all bikes, but replacement parts not covered under warranty, will be charged a shipping fee.</p>
    <p><span class="spanBold">Shipping Time:</span> In the US, in-stock items will be shipped on the same day after an order is placed, unless otherwise noted on the product's page. Check out the item's product page for the most up-to-date shipping information.</p>
    <p><span class="spanBold">Shipping Method:</span> Shipping is offered through UPS  On the second day after your item is shipped, you will be emailed a tracking number so you can track your package on the UPS website.</p>
  </div>

  <div>
    <p>Delivery Time:</p>
    <p>The fastest way you get your lovely e-bike is to pick up the item at our offline store, you can click here to make an appointment.</p>
    <p>Working time: Monday-Friday</p>
    <p>Address: 1683 Sierra Madre Cir, Placentia, CA 92870, USA</p>
  </div>
  
  <div>
    <p>Domestic Orders</p>
    <p>To ensure fast delivery and customer satisfaction, we only accept online store orders directly from the United States (except Alaska, Hawaii, Puerto Rico, Guam and the central mountainous regions). All orders are <span class="spanBold">FREE SHIPPING</span> via UPS ground. It usually takes 1 - 3 business days to be processed. To be specific by states as below:</p>
    <p><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/shippingPolicyImg1.png?v=1642839407" width="80%" alt=""></p>
    <p><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/shippingPolicyImg2.jpg?v=1642839407" width="80%" alt=""></p>
    <p>Track domestic orders via: <span style="text-decoration: underline; color: #a4de2f;">www.ups.com/track?loc=en_US&requester=ST/</span></p>
  </div>

  <div>
    <p>International Orders</p>
    <p>Although our website does not support online orders outside the U.S., at this time. We do have sales manager in charge of international orders via email. Please contact our sales manager via email for inquiries regarding international orders: <span style="text-decoration: underline;">naktousa@gmail.com</span></p>
  </div>

  <div>
    <p>Bulk Orders</p>
    <p>Bulk orders are considered to be any order that is 10 (or more) electric bikes. All bulk orders are shipped by truck, which usually requires extra 5 business days. The carrier will contact you by phone to arrange a date and time for your delivery. Please make sure the phone number you provide during checkout is correct.</p>
    <p>If you would like to purchase a bulk order, please contact our sales manager via email for checking inventory and shipping information regarding bulk orders: <span style="text-decoration: underline;">naktousa@gmail.com</span> </p>
  </div>

  <div>
    <p>In-store Pickup: FREE!</p>
    <p>In-store pickup of your bike is always free and welcome. Assembly service is not included.NOTE: Open to the Public by Appointment through <a href="/pages/contact-us">Contact Us</a></p>
    <p><span class="spanBold">Working Time:</span> Monday - Friday<br><span class="spanBold">Address:</span> 1683 Sierra Madre cir, Placentia, CA 92870, USA</p>
  </div>

  <div>
    <p>We Are Not Able to Deliver to the Following</p>
    <ul>
      <li>P.O. Boxes or Parcel Lockers due to size constraints </li>
      <li>Alaska, Hawaii, Puerto Rico, Guam and the central mountainous regions</li>
    </ul>
  </div>


</div>





{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}
