{{ 'main-index.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-index.js' | asset_url }}" defer="defer"></script>

<div class="mainIndex">
    <div>
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/main1_4628ffd7-bb2a-45f5-81c8-67c0943fd354.jpg?v=1641362325" class="bannerMainImage">
    </div>
    <div class="advertingBlock">
        <ul>
            <li class="textProductName">SANTA MONICA</li>
            <li class="advertiseWords">Have Fun <br>Out On The Town</li>
            <li class="featureProduct"><sapn style="color:#a4de2f;">•</sapn>Fat Tire eBike<sapn style="color:#a4de2f;">•</sapn>Pedal Assit<sapn style="color:#a4de2f;">•</sapn>Twist Throttle<sapn style="color:#a4de2f;">•</sapn>500W Brushless Motor</li>
            <li><a href="/pages/halloween-promotion" class="mainIndexBtn"><span>LEARN MORE</span></a></li>
        </ul>
    </div>
</div>
<div class="mainIndex3Col">
    <a href="https://www.nakto.com/collections/fat-tire-ebike" class="mainIndex3Col_1">
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/superCruiser_mainIndex_600x600_c9373678-e26e-4e14-bca4-6b1c9497db8b.jpg?v=1641376409" width="100%" height="auto">
        <ul>
            <li>Fat Tire</li>
            <li>Fat tire fun.Safety.Versatility.</li>
        </ul>
    </a>
    <a href="https://www.nakto.com/collections/city-ebike" class="mainIndex3Col_2">
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/classic_mainIndex_600x600_cbc31a33-8d1f-4309-8937-85bb271bd724.jpg?v=1641376409" width="100%" height="auto">
        <ul>
            <li>City</li>
            <li>Urban exploration.Distance.Comfort.</li>
        </ul>
    </a>
    <a href="https://www.nakto.com/collections/mountain-ebike" class="mainIndex3Col_3">
        <img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/ranger_mainIndex_600x600_7b1255ac-1da2-49e0-978b-58322ce882e8.jpg?v=1641376409" width="100%" height="auto">
        <ul>
            <li>Mountain</li>
            <li>Everyday Practically.Agility.Freedom.</li>
        </ul>
    </a>

</div>