<div class="popularEBikes">
  <ul>
      <a href="/products/santa-monica"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/index_santaMonica.png?v=1641451688" width="90%" height="auto"></a>
      <li class="popularEBikesTitle">Santa Monica</li>
      <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
      <li class="popularEBikesPrice">$1099.00</li>
      <li><a href="/products/santa-monica">Shop Now</a></li>
  </ul>
  <ul>
      <a href="/products/classic"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/index_classic.png?v=1641451688" width="90%" height="auto"></a>
      <li class="popularEBikesTitle">Classic</li>
      <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></li>
      <li class="popularEBikesPrice">$859.00</li>
      <li><a href="/products/classic">Shop Now</a></li>
  </ul>
  <ul>
      <a href="/products/super-cruiser"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/index_superCruiser.png?v=1641451689" width="90%" height="auto"></a>
      <li class="popularEBikesTitle">Super Cruiser</li>
      <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></li>
      <li class="popularEBikesPrice">$1299.00</li>
      <li><a href="/products/super-cruiser">Shop Now</a></li>
  </ul>
  <ul>
      <a href="/products/foldingoxw"><img src="https://cdn.shopify.com/s/files/1/0556/1253/9040/files/index_foldingOX.png?v=1641451688" width="90%" height="auto"></a>
      <li class="popularEBikesTitle">Folding OX</li>
      <li class="popularEBikesStar"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></li>
      <li class="popularEBikesPrice">$1099.00</li>
      <li><a href="/products/foldingoxw">Shop Now</a></li>
  </ul>
</div>