#felx_ctlBtn1 .arrow{
    --border-size: 0.2vw;
    --size: calc(var(--border-size) * 4);
    border-left: var(--border-size) solid gray;
    border-bottom: var(--border-size) solid gray;
    width: var(--size);
    height: var(--size);
    transform: rotate(135deg);
}

#felx_ctlBtn2 .arrow{
    --border-size: 0.2vw;
    --size: calc(var(--border-size) * 4);

    border-left: var(--border-size) solid gray;
    border-bottom: var(--border-size) solid gray;
    width: var(--size);
    height: var(--size);
    transform: rotate(135deg);
}

#felx_ctlBtn2 .right{
    transform: rotate(225deg);
}

#felx_ctlBtn2 .left{
    transform: rotate(405deg);
}