#flexibility {
    position: relative;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 2vmax;
    font-family: "Montserrat", sans-serif;
    /* border: 1px solid cornflowerblue; */
}

#flex_wrapper{      /*this is the div outside of uni_imgSlider */
    display: block; 
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0px;
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid coral; */
}

.uni_imgSlider{
    padding: 0px;
    margin: 0px;
    display: flex;
    transition: transform 0.4s ease-in-out;
    
}

.uni_imgSlider .item{
    padding: 0px;
    margin-right: 10px;
    border: 0px solid #ff23ff;
    text-align: center;
    background-color: #ffffff;
    cursor: grab;
}

.uni_imgSlider .item ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
    display: block;
}

.uni_imgSlider .item ul li{
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
    white-space:normal;
    word-wrap: break-word;
    text-align: left;
    font-size: 1.1vw;  /* universal image description body font for flexibility performance user friendly */
    
}

.uni_imgSlider .item ul .titleStyle{
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 2.0vw;  /* universal image description head font for flexibility performance user friendly */
    font-weight: bold;
    position: relative;
    display: block;
    white-space:normal;
    word-wrap: break-word;
    text-align: left;
    color: black;
    
}

.uni_imgSlider .item ul li img{
    padding: 0px;
    margin: 0px;
    border: 0px;
    transition: transform 0.4s ease-in-out;

}

.grabbing{
    cursor: grabbing;
}

.grabbing .item img{        /*don't apply the scale to touch*/
    transform: scale(0.9);
}

/*定义左侧按钮样式*/
#flex_ctlBtn1{
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
    display: block;
    height: 50px;
    width: 100%;
    /* border: 1px solid coral; */

}

#flex_ctlBtn1 .leftBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 60%;
    height: 100%;
    padding-top: 2rem;
    /*background-color: blueviolet;*/
}



#flex_ctlBtn1 .rightBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: right;
    width: 40%;
    height: 100%;
    /* background-color:burlywood; */
}

/*定义右侧左箭头样式 */
.arrow.left{
    position: absolute;
    right: 8rem;
    top: 1rem;
    display: block;
    border-left: 0.4vw solid lightgray;
    border-bottom: 0.4vw solid lightgray;
    width: 1.3vw;
    height: 1.3vw;
    transform: rotate(45deg);
    border-radius: 30%;
    cursor: pointer;
}

.arrow.left:hover{
    border-left: 0.4vw solid gray;
    border-bottom: 0.4vw solid gray;
}

/*定义右侧右箭头样式 */
.arrow.right{
    position: absolute;
    right: 5rem;
    top: 1rem;
    display: block;
    border-left: 0.4vw solid lightgray;
    border-bottom: 0.4vw solid lightgray;
    width: 1.3vw;
    height: 1.3vw;
    transform: rotate(-135deg);
    cursor: pointer;
    border-radius: 30%;
}

.arrow.right:hover{
    border-left: 0.4vw solid gray;
    border-bottom: 0.4vw solid gray;
}

.flexibility_desc{
    width: 50%;
    font-size: 1.1vw;  /*Block description head font */
    margin-bottom: 2em;
}

#flexibility .tabRoundCorner{
    display: block;
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 0.2vw 0.4vw;
    background: #A4DE2F;
    width: 5.0vw;
    height: 1.5vw;
    border-radius: 0.4vw;
	margin-left: 0.5vw;
	margin-bottom: 1.0vw;
}

@media screen and (max-width: 749px) {
    .flexibility_desc{
        width: 100%;
        font-size: 3.5vw;  /*Block description head font */

    }

    .arrow.right{
        display: block;
        width: 1.0em;
        height: 1.0em;
        border-left: 0.2em solid rgb(240, 238, 238);
        border-bottom: 0.2em solid rgb(240, 238, 238);
        border-radius: 0;
    }

    .arrow.right:hover{
        border-left: 0.2em solid gray;
        border-bottom: 0.2em solid gray;
    }

    .arrow.left{
        display: block;
        width: 1.0em;
        height: 1.0em;
        border-left: 0.2em solid rgb(240, 238, 238);
        border-bottom: 0.2em solid rgb(240, 238, 238);
        border-radius: 0;
    }

    .arrow.left:hover{
        border-left: 0.2em solid gray;
        border-bottom: 0.2em solid gray;
    }

    .uni_imgSlider .item ul .titleStyle{
        font-size: 5.0vw;  /*image description head font */
        color: black;
        
    }
    .uni_imgSlider .item ul li{
        font-size: 3.5vw;
    }
    
}