#flexibility {
    position: relative;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 2vmax;
    /* border: 1px solid cornflowerblue; */
}

#flex_wrapper{      /*this is the div outside of uni_imgSlider */
    display: block; 
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.uni_imgSlider{
    padding: 0px;
    margin: 0px;
    display: flex;
    transition: transform 0.4s ease-in-out;
    
}

.uni_imgSlider .item{
    padding: 0px;
    margin-right: 10px;
    border: 0px solid #ff23ff;
    text-align: center;
    background-color: #ffffff;
    cursor: grab;
}

.uni_imgSlider .item ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
    display: block;
}

.uni_imgSlider .item ul li{
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
    white-space:normal;
    word-wrap: break-word;
    text-align: left;
    font-size: 1.5vw;  /*image description body font */
    
}



.uni_imgSlider .item ul .titleStyle{
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 2.0vw;  /*image description head font */
    font-weight: bold;
    position: relative;
    display: block;
    white-space:normal;
    word-wrap: break-word;
    text-align: left;
    
}

@media screen and (max-width: 749px) {
    .uni_imgSlider .item ul .titleStyle{
        font-size: 5.0vw;  /*image description head font */
        
    }
    .uni_imgSlider .item ul li{
        font-size: 3.5vw;
    }
    
}

.uni_imgSlider .item ul li img{
    padding: 0px;
    margin: 0px;
    border: 0px;
    transition: transform 0.4s ease-in-out;

}

.grabbing{
    cursor: grabbing;
}


.grabbing .item img{        /*don't apply the scale to touch*/
    transform: scale(0.9);
}





/*定义左侧按钮样式*/
#flex_ctlBtn1{
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
    display: block;
    height: 50px;
    width: 100%;

}

#flex_ctlBtn1 .leftBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 60%;
    height: 100%;
    padding-top: 1rem;
    /*background-color: blueviolet;*/
}

/*此处要加上id选择符，才能正常显示*/
#flex_ctlBtn1 .leftBtns .buttonDotSolid{
    display: block;
    float: left;
    width: 1vw;
    height: 1vw;
    background:black;
    cursor: pointer;
    border: 0.2vw solid gray;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    margin-left: 2vmax;
}

@media screen and (max-width: 749px) {
    #flex_ctlBtn1 .leftBtns .buttonDotSolid{
        width: 2vmax;
        height: 2vmax;
        font-size: 2vmax;
        border: 0.3vmax solid gray;
    }
}

/*此处要加上id选择符，才能正常显示*/
#flex_ctlBtn1 .leftBtns .buttonDotEmpty{
    display: block;
    float: left;
    width: 1vw;
    height: 1vw;
    background: #fff;
    cursor: pointer;
    border: 0.2vw solid gray;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    margin-left: 2vmax;

}
@media screen and (max-width: 749px) {
    #flex_ctlBtn1 .leftBtns .buttonDotEmpty{
        width: 2vmax;
        height: 2vmax;
        font-size: 2vmax;
        border: 0.3vmax solid gray;
    }
}

#flex_ctlBtn1 .rightBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: right;
    width: 40%;
    height: 100%;
    /* background-color:burlywood; */
}


/*定义右侧左箭头样式 */
.arrow.left{
    position: absolute;
    right: 8rem;
    top: 1rem;
    display: block;
    border-left: 0.4vw solid rgb(240, 238, 238);
    border-bottom: 0.4vw solid rgb(240, 238, 238);
    width: 1.3vw;
    height: 1.3vw;
    transform: rotate(45deg);
    border-radius: 30%;
    cursor: pointer;
}

@media screen and (max-width: 749px) {
    .arrow.left{
        display: none;
        width: 2.0vmax;
        height: 2.0vmax;
        border-left: 0.4vmax solid rgb(240, 238, 238);
        border-bottom: 0.4vmax solid rgb(240, 238, 238);
    }
}


.arrow.left:hover{
    border-left: 0.4vw solid gray;
    border-bottom: 0.4vw solid gray;
}

/*定义右侧右箭头样式 */
.arrow.right{
    position: absolute;
    right: 5rem;
    top: 1rem;
    display: block;
    border-left: 0.4vw solid rgb(240, 238, 238);
    border-bottom: 0.4vw solid rgb(240, 238, 238);
    width: 1.3vw;
    height: 1.3vw;
    transform: rotate(-135deg);
    cursor: pointer;
    border-radius: 30%;
}

@media screen and (max-width: 749px) {
    .arrow.right{
        display: none;
        width: 2.0vmax;
        height: 2.0vmax;
        border-left: 0.4vmax solid rgb(240, 238, 238);
        border-bottom: 0.4vmax solid rgb(240, 238, 238);
    }
}

.arrow.right:hover{
    border-left: 0.4vw solid gray;
    border-bottom: 0.4vw solid gray;
}


.flexibility_desc{
    width: 100%;
    font-size: 2.5vw;  /*Block description head font */
    margin-bottom: 2em;
}

@media screen and (max-width: 749px) {
    .flexibility_desc{
        font-size: 3.5vw;  /*Block description head font */

    }
    
}

#flexibility .tabRoundCorner{
    display: block;
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 0.2vw 0.4vw;
    background: #029789;
    width: 5.0vw;
    height: 1.5vw;
    border-radius: 0.4vw;
	margin-left: 0.5vw;
	margin-bottom: 1.0vw;
}
