
/***** userComment Block *****/
.userCommentStory_Two{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto;
    padding: 0;
    /* margin-bottom: 100px; */
    /* border: 1px solid cornflowerblue; */
}

#userStory_Two_wrapper{      /*this is the div outside of uni_imgSlider */
    display: block; 
    padding: 0px;
    margin: 0px auto;
    width: 75vw;
    border: 0px;
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid coral; */
    /* box-sizing: border-box; */
}

#userStory_Two_wrapper .uni_imgSlider{
    /* box-sizing: border-box; */
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    /* transition: transform 0.7s ease-in-out; */
    /* width: 600px; */
    
}

#userStory_Two_wrapper .uni_imgSlider .item{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid #ff23ff; */
    text-align: center;
    background-color: #ffffff;
    cursor: grab;
    /* width: 600px; */
}

#userStory_Two_wrapper .uni_imgSlider .item ul{
    margin: 0;
    padding: 0;
    /* width: 26.66vw; */
    list-style: none;
    /* width: 100%; */
    /* border: 1px solid chartreuse; */
}

#userStory_Two_wrapper .uni_imgSlider .item ul li{
    box-sizing: border-box;
    margin: 0;  /*this setting make space beside words*/
    padding: 0 5px;
    width: 25vw;  /*this will control ul width*/
    
    /* width: 100%; */
    /* border: 1px solid chocolate; */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#userStory_Two_wrapper .uni_imgSlider .item ul li:nth-child(2){
    /* color: #A4DE2F; */
    color: rgb(255, 196, 57);
    font-size: 25px;
    margin-top: 10px;
}

#userStory_Two_wrapper .uni_imgSlider .item ul li:last-child p:first-child{
    font-size: 23px;
    font-weight: bold;
    color: black;
    margin: 0;
    margin-top: 10px;

}

#userStory_Two_wrapper .uni_imgSlider .item ul li:last-child p:last-child{
    color: black;
    margin-top: 0px;
    font-weight: 300;
    font-size: 17px;
    word-break: normal;
    white-space: normal;
    padding: 0 30px;
    line-height: 20px;
    text-align: start;
    margin-bottom: 30px;
}

#userStory_Two_ctlBtn1{
    margin: 0 auto;
    padding: 0;
    height: 20px;
    width: 470px;
    /* border: 1px solid crimson; */
}

#userStory_Two_ctlBtn1 .leftBtns{
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid coral; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* set universal dot button style */
.leftBtns .buttonDotSolid{
    display: block;
    float: left;
    width: 1vw;
    height: 1vw;
    background:black;
    cursor: pointer;
    border: 0.2vw solid lightgray;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    margin: 0 10px;
    /* margin-left: 2vmax; */
    transition: .3s;
}

.leftBtns .buttonDotEmpty{
    display: block;
    float: left;
    width: 1vw;
    height: 1vw;
    background: #fff;
    cursor: pointer;
    border: 0.2vw solid lightgray;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    /* margin-left: 2vmax; */
    transition: .3s;
    margin: 0 10px;
}




/* 1792x828px at 326ppi iphone11*/
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2){
        .userCommentStory_Two{
            display: block;
            margin: 20px 0px;
            padding: 0;
            /* margin-bottom: 100px; */
            /* border: 1px solid coral; */
        }


        #userStory_Two_wrapper{      /*this is the div outside of uni_imgSlider */
            display: block; 
            padding: 0px;
            margin: 0px auto;
            width: 90vw;
            border: 0px;
            overflow: hidden;
            white-space: nowrap;
            /* border: 1px solid coral; */
        }
        

        #userStory_Two_wrapper .uni_imgSlider .item ul{
            margin: 0;
            padding: 0;
            width: 90vw;
            list-style: none;
            /* width: 100%; */
            /* border: 1px solid chartreuse; */
        }
        
        #userStory_Two_wrapper .uni_imgSlider .item ul li{
            margin: 0;  /*this setting make space beside words*/
            padding: 0;
            width: 85vw;  /*this with control ul width */
            user-select: none; /* Standard */
            padding-left: 10px;
        }
        
        #userStory_Two_ctlBtn1{
            margin: 0 auto;
            padding: 0;
            height: 20px;
            width: 90vw;
            /* border: 1px solid crimson; */
        }


        #userStory_Two_wrapper .uni_imgSlider .item ul li p{
            font-size: 15px;
            word-break: normal;
            white-space: normal;
            margin: 0;
            padding: 0;
            line-height: 40px;
            text-align: center;
        }

        #userStory_Two_wrapper .uni_imgSlider .item ul li:nth-child(2){
            font-size: 15px;
            line-height: 20px;
        }
 



}

@media screen and (max-width: 749px){
    .userCommentStory_Two{
        display: block;
        margin: 20px 0px;
        padding: 0;
        /* margin-bottom: 100px; */
        /* border: 1px solid coral; */
    }


    #userStory_Two_wrapper{      /*this is the div outside of uni_imgSlider */
        display: block; 
        padding: 0px;
        margin: 0px auto;
        width: 90vw;
        border: 0px;
        overflow: hidden;
        white-space: nowrap;
        /* border: 1px solid coral; */
    }
    

    #userStory_Two_wrapper .uni_imgSlider .item ul{
        margin: 0;
        padding: 0;
        width: 90vw;
        list-style: none;
        /* width: 100%; */
        /* border: 1px solid chartreuse; */
    }
    
    #userStory_Two_wrapper .uni_imgSlider .item ul li{
        margin: 0;  /*this setting make space beside words*/
        padding: 0;
        width: 85vw;  /*this with control ul width */
        user-select: none; /* Standard */
        padding-left: 10px;
    }
    
    #userStory_Two_ctlBtn1{
        margin: 0 auto;
        padding: 0;
        height: 20px;
        width: 90vw;
        /* border: 1px solid crimson; */
    }


    #userStory_Two_wrapper .uni_imgSlider .item ul li p{
        font-size: 15px;
        word-break: normal;
        white-space: normal;
        margin: 0;
        padding: 0;
        line-height: 40px;
        text-align: center;
    }

    #userStory_Two_wrapper .uni_imgSlider .item ul li:nth-child(2){
        font-size: 15px;
        line-height: 20px;
    }


}

@media screen and (min-width: 750px) and (max-width: 1366px){


}