/* div containing product categaries */
.accMenuBlock{ 
    position: absolute;
    overflow: auto;
    left: -50%;
    /* max-height: 807px; */
    border: 1px solid gray;
    display: flex;
    visibility: hidden;
    width: 660px;   /*set div width of the product categries block*/
    transition: all 0.8s ease-in-out;
    background-color: white;
}

.accMenu:hover > .accMenuBlock{
    visibility: visible;
    display: flex;
}

.accMenuBlockHidden{
    visibility: hidden;
    display: none;
}

.accMenuBlock > ul{  /**/
    list-style: none;

}

/* set li and a style when hover on li */
.dropdownAcc{
    width: 220px;
    padding: 0;
    margin: 0;
}

.dropdownAcc > li{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

.dropdownAcc > li a{
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdownAcc > li:hover .icon-arrow:after{
    background-color: white;
}

.dropdownAcc > li:hover .icon-arrow:before{
    background-color: white;
}

/* .dropdownAcc > li > a:hover{
    color: white;
    text-decoration: none;
} */

.dropdownAccDetail{
    width: calc(420px + 1vw);
    max-height: 80vh;
    overflow-y: auto;
    /* border: 1px solid chartreuse; */
    padding: 20px 0 20px 0;
}

.dropdownAccDetail > ul{
    float: left !important;
    /* border: 1px solid cornflowerblue; */
    padding: 0;
    margin: 0;
}

.dropdownAccUlltborder{
    border-left: 1px solid blueviolet;
}

.dropdownAccUlrtborder{
    border-right: 1px solid gray;
}

.dropdownAccDetail > ul > li{
    display: flex;
    flex-direction: column;
    float: left !important;
    /* border: 1px solid cadetblue; */
    padding: 0;
    margin: 0px 5px 5px 30px;
}

.dropdownAccDetail > ul > li:nth-child(2n){
    margin-left: 5px;
}

.dropdownAccDetail > ul > li > a{
    margin: 0 auto;
    text-decoration: none;
    color: black;
    width: 180px;
    /* border: 1px solid crimson; */
    /* text-align: center; */
    text-align: left;
    /* align-items: center; */
    /* flex-wrap: wrap; */
}

.dropdownAccDetail > ul > li > a > img{
    display: block;
    border: 0px;
}

.dropdownAccDetail > ul > li:hover a{
    color: gray !important;
}

.dropdownAccDetail > ul > li > span{
    margin: 0 auto;
}

@media screen and (min-width: 750px) and (max-width: 1366px){
    .dropdownAccDetail{
        width: calc(350px + 60px);
        max-height: 80vh;
        overflow-y: auto;
        /* max-width: 80vh; */
        /* overflow-x: auto; */
    }

    .accMenuBlock{
        margin-left: 0;
    }
}

/* lisa laptop 1280px width*/
@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .accMenuBlock{
        margin-left: -5%;
    }

    
}