#performance {
    position: relative;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 2vmax;
    clear: both;
    border: 1px solid cornflowerblue;
}
#performance .tabRoundCorner{
    display: block;
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 0.2vw 0.4vw;
    background: #029789;
    width: 5vw;
    height: 1.5vw;
    border-radius: 0.4vw;
	margin-left: 0.5vw;
	margin-bottom: 1.0vw;
    clear: both;
}



/*slid section*/
#perf_wrapper{
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0px solid coral;
    overflow: hidden;
    white-space: nowrap;
}


/*定义左侧按钮样式*/
#perf_ctlBtn1{
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
    display: block;
    height: 50px;
    width: 100%;

}

#perf_ctlBtn1 .leftBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 60%;
    height: 100%;
    padding-top: 1rem;
    /*background-color: blueviolet;*/
}

/*此处要加上id选择符，才能正常显示*/
#perf_ctlBtn1 .leftBtns .buttonDotSolid{
    display: block;
    float: left;
    width: 1vw;
    height: 1vw;
    background:black;
    cursor: pointer;
    border: 0.2vw solid gray;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    margin-left: 2vmax;
}

@media screen and (max-width: 749px) {
    #perf_ctlBtn1 .leftBtns .buttonDotSolid{
        width: 2vmax;
        height: 2vmax;
        font-size: 2vmax;
        border: 0.3vmax solid gray;
    }
}

/*此处要加上id选择符，才能正常显示*/
#perf_ctlBtn1 .leftBtns .buttonDotEmpty{
    display: block;
    float: left;
    width: 1vw;
    height: 1vw;
    background: #fff;
    cursor: pointer;
    border: 0.2vw solid gray;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    margin-left: 2vmax;

}
@media screen and (max-width: 749px) {
    #perf_ctlBtn1 .leftBtns .buttonDotEmpty{
        width: 2vmax;
        height: 2vmax;
        font-size: 2vmax;
        border: 0.3vmax solid gray;
    }
}

#perf_ctlBtn1 .rightBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: right;
    width: 40%;
    height: 100%;
    /* background-color:burlywood; */
}



/*定义右侧按钮样式*/
#perf_ctlBtn2{
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    float:right;
}

.performance_desc{
    width: 100%;
    font-size: 2.5vw;  /*Block description head font */
    margin-bottom: 2em;
}

@media screen and (max-width: 749px) {
    .performance_desc{
        font-size: 3.5vw;  /*Block description head font */

    }
    
}


.performance_main_desc{
    padding: 0px;
    margin: 0px;
    display: block;
    border: 0px solid cornflowerblue;
    width: 100%;
}

.performance_main_desc_img{
    padding: 0px;
    margin: 0px;
    display: block;
    width: 50%;
    float: left;
}


/*performance_Main_Desc_Data div (show numbers)*/
.performance_main_desc_data{
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0px solid chocolate;
    float: left;
    margin-bottom: 3.0vmax;
}


.performance_main_desc_data ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 0px solid chocolate;
    padding-left: 10%;
}

.performance_main_desc_data ul li{
    display: block;
    list-style: none;
    border: 0px solid chartreuse;
    padding: 0px;
    margin: 0px;
}

.perf_big{
    font-size: 4.0vw;
    color: chartreuse;
}


.perf_bold{
    font-size: 1.5vw;
    color: black;
}

@media screen and (max-width: 749px) { /* here must have space between and and (*/
    .performance_main_desc_img{
        width: 100%;
        clear: both;
    }

    .performance_main_desc_data{
        width: 100%;
        clear:left;

    }

    .performance_main_desc_data div{
        width: 50%;
        display: block;
        float: left;
    
    }

    .performance_main_desc_data .columnSplitMiddle{
        display: block;
        clear: both;
    
    }

    .perf_big{
        font-size: 4.5vmax;
        color: chartreuse;
    }
    
    
    .perf_bold{
        font-size: 2.5vmax;
        color: black;
    }
    
}





.main_banner{   /* set the section showing biggest image */
    position: relative;
    display: block;
    overflow: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2vmax;
    width: 100%;
    height: auto;
    text-align: center;
    
}

.main_banner_img{  /*the biggest image*/
    position: static;
    display: block;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    border-image: 0px;
}

.main_banner_name{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 24%;
    left: 5%;
    font-size: 4.5vw;
    font-weight: 200px;
    color: darkorange;
    border: 0px solid cornflowerblue;
}

.main_banner_f1{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 37%;
    left: 5%;
    font-size: 3.0vw;
    height: 1em;
    border: 0px solid crimson;
}

.main_banner_f2{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    background-color: black;
    color: cornsilk;
    opacity: 0.5;
    width: 40%;
    left: 5%;
    font-size: 1.3vw;
    text-align: left;
    padding-left: 10px;
    /*border-radius: 5%;*/
}

.main_banner_f2.LessContent{
    display: none;
}

@media screen and (max-width: 749px){
    .main_banner_f2.MoreContent{
        display: none;
    }


    .main_banner_f2.LessContent{
        display: block;
    }
    
}


.main_top_banner{
    display: block;
    overflow: auto;
    background-color: black;
    opacity: 0.9;
    clear: both;
}

.main_top_banner div{
    display: block;
    float: left;
    width: 25%;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    /* padding-bottom: 1em; */
}

.main_top_banner ul{
    position: relative;
    padding: 0px;
    list-style: none;
}

.main_top_banner li{
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;
    color: white;
 }

 .main_top_bold{
     font-weight: 1200;
     font-size: 2.0vmin;
 }

 .main_top_light{
    font-weight: 300;
    font-size: 1.5vmin;
}

@media screen and (max-width: 749px) {
    /* adjust layout of top banner 4 columns*/
    .main_top_banner div{
        width: 50%;
    }

}


