#performance {
    position: relative;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 2vmax;
    clear: both;
    /* border: 1px solid cornflowerblue; */
}

#performance .tabRoundCorner{
    display: block;
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 0.2vw 0.4vw;
    background: #029789;
    width: 5vw;
    height: 1.5vw;
    border-radius: 0.4vw;
	margin-left: 0.5vw;
	margin-bottom: 1.0vw;
    clear: both;
}

/*slid section*/
#perf_wrapper{
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0px solid coral;
    overflow: hidden;
    white-space: nowrap;
}

/*定义左侧按钮样式*/
#perf_ctlBtn1{
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
    display: block;
    height: 50px;
    width: 100%;

}

#perf_ctlBtn1 .leftBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 60%;
    height: 100%;
    padding-top: 1rem;
    /*background-color: blueviolet;*/
}

#perf_ctlBtn1 .rightBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: right;
    width: 40%;
    height: 100%;
    /* background-color:burlywood; */
}

/*定义右侧按钮样式*/
#perf_ctlBtn2{
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    float:right;
}

.performance_desc{
    width: 100%;
    font-size: 2.5vw;  /*Block description head font */
    margin-bottom: 2em;
}

.performance_main_desc{
    padding: 0px;
    margin: 0px;
    display: block;
    border: 0px solid cornflowerblue;
    width: 100%;
}

.performance_main_desc_img{
    padding: 0px;
    margin: 0px;
    display: block;
    width: 50%;
    float: left;
}

/*performance_Main_Desc_Data div (show numbers)*/
.performance_main_desc_data{
    display: block;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-left: 10.0vmax;
    margin-top: 6.0vmax;
    /* border: 1px solid chocolate; */
}

.performance_main_desc_data ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 0px solid chocolate;
    padding-left: 10%;
}

.performance_main_desc_data ul li{
    display: block;
    list-style: none;
    border: 0px solid chartreuse;
    padding: 0px;
    margin: 0px;
}

.perf_big{
    font-size: 4.0vmax;
    line-height: 4.4vmax;
    color: chartreuse;
}


.perf_bold{
    font-size: 1.5vmax;
    line-height: 1.6vmax;
    color: black;
}

.main_banner{   /* set the section showing biggest image */
    position: relative;
    display: block;
    overflow: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2vmax;
    width: 100%;
    height: auto;
    text-align: center;
    
}

.main_banner_img{  /*the biggest image*/
    position: static;
    display: block;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    border-image: 0px;
}

.main_banner_name{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 24%;
    left: 5%;
    font-size: 4.5vw;
    font-weight: 200px;
    color: darkorange;
    border: 0px solid cornflowerblue;
}

.main_banner_f1{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 37%;
    left: 5%;
    font-size: 3.0vw;
    height: 1em;
    border: 0px solid crimson;
}

.main_banner_f2{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    background-color: black;
    color: cornsilk;
    opacity: 0.5;
    width: 40%;
    left: 5%;
    font-size: 1.3vw;
    text-align: left;
    padding-left: 10px;
    /*border-radius: 5%;*/
}

.main_banner_f2.LessContent{
    display: none;
}

.main_top_banner{
    display: block;
    overflow: auto;
    background-color: black;
    opacity: 0.9;
    clear: both;
}

.main_top_banner div{
    display: block;
    float: left;
    width: 25%;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    /* padding-bottom: 1em; */
}

.main_top_banner ul{
    position: relative;
    padding: 0px;
    list-style: none;
}

.main_top_banner li{
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;
    color: white;
 }

 .main_top_bold{
    font-size: 2.0em;
    font-weight: bolder;
     
 }

 .main_top_light{
    font-size: 1.2em;
    font-weight: 300;
}

@media screen and (max-width: 749px) {
    /* adjust layout of top banner 4 columns*/
    .main_top_banner div{
        width: 50%;
        padding: 1em;
        margin: 0;
        /* background-color: wheat; */
    }

    .main_top_banner div ul li img{
        width: 1.5em;
        height: 1.5em;
    }

    .main_top_banner div ul {
        padding: 0;
        margin: 0;
    }

    .main_top_banner div ul li{
        font-size: 0.7em;
    }

    .main_top_banner div ul li.main_top_bold{
        font-size: 1.0em;
        font-weight: bolder;
        margin: 0;
    }

    .main_top_banner div ul li.main_top_light{
        font-size: 0.8em;
        margin: 0;
    }

    .performance_main_desc_img{
        width: 100%;
        clear: both;
    }

    .performance_main_desc_data{
        width: 100%;
        clear:left;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .performance_main_desc_data div{
        width: 50%;
        display: block;
        float: left;
    
    }

    .performance_main_desc_data .columnSplitMiddle{
        display: block;
        clear: both;
    
    }

    .perf_big{
        font-size: 4.0vmax;
        line-height: 4.8vmax;
        color: chartreuse;
    }
    
    .perf_bold{
        font-size: 1.5vmax;
        line-height: 1.9vmax;
        color: black;
    }

    .performance_desc{
        font-size: 3.5vw;  /*Block description head font */

    }

    .main_banner_name{
        font-weight: bold;

    }
    
    .main_banner_f1{
        font-size: 3.0vw;
        font-weight: 700;
        padding-top: 5px;

    }
    
    .main_banner_f2{
        font-size: 2.8vw;

    }
    
    .main_banner_f2.MoreContent{
        display: none;
    }

    .main_banner_f2.LessContent{
        display: block;
        background: none;
        padding: 0px;
        font-weight: bold;
        color: black;
    }

    

}


