#performance {
    position: relative;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 100px;
}


/*slid section*/
#perf_wrapper{
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0px solid coral;
    overflow: hidden;
    white-space: nowrap;
}

/*slid container*/
#perf_imgSlid{
    padding: 0px;
    margin: 0px;
    display: flex;
}

/*slid image div*/
#perf_imgSlid .item{
    padding: 0px;
    margin-right: 10px;
    border: 0px solid #ff23ff;
    text-align: center;
    background-color: #ffffff;
    /* display: inline-block; */
}

/*slid image div ul*/
#perf_imgSlid .item ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
    display: block;
}

#perf_imgSlid .item ul li{
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
    white-space:normal;
    word-wrap: break-word;
    text-align: left;
    font-size: 1.5vw;  /*image description body font */
    
}

#perf_imgSlid .item ul li img{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#perf_imgSlid .item ul .titleStyle{
    padding: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0px;
    font-size: 2.0vw;  /*image description head font */
    font-weight: bold;
    position: relative;
    display: block;
    white-space:normal;
    word-wrap: break-word;
    text-align: left;
}

/*定义左侧按钮样式*/
#perf_ctlBtn1{
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    float: left;

}

.perf_my-circle-l{
    padding: 0px;
    margin: 0px;
    cursor: pointer;

}

.perf_my-circle-r{
    padding: 0px;
    margin: 0px;
    cursor: pointer;

}



/*定义右侧按钮样式*/
#perf_ctlBtn2{
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    float:right;
}

/*定义右侧左箭头样式 */
#perf_ctlBtn2 .perf_my-left{
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#perf_ctlBtn2 .perf_my-left img{
    padding: 0px;
    margin: 0px;
    display: block;
    margin-bottom: 1px;
}

#perf_ctlBtn2 .perf_my-left:hover{
    background-color: darkgray;
}

/*定义右侧右箭头样式 */
#perf_ctlBtn2 .perf_myRight{
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#perf_ctlBtn2 .perf_myRight img{
    padding: 0px;
    margin: 0px;
    display: block;
    margin-bottom: 1px;
}


#perf_ctlBtn2 .perf_myRight:hover{
    background-color: darkgray;
}

.performance_desc{
    padding-left: 2em;
    width: 50em;
    font-size: 1.5vw;  /*Block description head font */
    margin-bottom: 2em;

}


.performance_main_desc{
    padding: 0px;
    margin: 0px;
    display: flex;
    border: 0px solid cornflowerblue;
    width: 100%;
}

.performance_main_desc_img{
    padding: 0px;
    margin: 0px;
    width: 50%;
}

/*performanceMainDescData div */
.performance_main_desc_data{
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 50%;
    border: 0px solid chocolate;
}

.performance_main_desc_data ul{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 0px solid chocolate;
    margin-left: 30%;
    
}

.performance_main_desc_data ul li{
    display: block;
    list-style: none;
    border: 0px solid chartreuse;
    padding: 0px;
    margin: 0px;
}

.perf_big{
    font-size: 4.0vw;
    color: chartreuse;
}

.perf_bold{
    font-size: 1.5vw;
    color: black;
}

.main_banner{
    position: relative;
    display: block;
    overflow: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 100px;
    width: 100%;
    text-align: center;
}

.main_banner_img{
    position: absolute;
    top:0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    border-image: 0px;
}

.main_banner_name{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 24%;
    left: 5%;
    font-size: 4.5vw;
    font-weight: 200px;
    color: darkorange;
    border: 0px solid cornflowerblue;
}

.main_banner_f1{
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 37%;
    left: 5%;
    font-size: 3.0vw;
    height: 1em;
    border: 0px solid crimson;
}

.main_banner_f2{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    background-color: black;
    color: cornsilk;
    opacity: 0.5;
    width: 40%;
    left: 5%;
    font-size: 1.3vw;
    text-align: left;
    padding-left: 10px;
    border-radius: 5%;
}

.main_top_banner{
    display: block;
    overflow: auto;
    background-color: black;
    opacity: 0.9;
}

.main_top_banner ul{
    position: relative;
    padding: 0px;
    margin: 4% 4% 4% 4%;
    width: 17%;
    list-style: none;
    float: left;
}

.main_top_banner li{
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style: none;
    color: white;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
 }

 .main_top_bold{
     font-weight: 1200;
     font-size: 2.0vmin;
 }

 .main_top_light{
    font-weight: 300;
    font-size: 1.5vmin;
}

#performance .tabRoundCorner{
    display: block;
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 0.2vw 0.4vw;
    background: #029789;
    width: 5vw;
    height: 1.5vw;
    border-radius: 0.4vw;
	margin-left: 0.5vw;
	margin-bottom: 1.0vw;
}

/*changing the showcase img size for desktop*/
@media screen and (min-width: 990px) {
    .slider.slider--mobile {
      width: 100%;
      border: 1px solid chartreuse;
      display: flex;
      list-style: none;
      overflow: auto;
      padding: 0px;
      margin: 0px;
      /* flex-wrap: inherit;
      overflow-x: auto; */
      /* scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scroll-padding-left: 1rem;
      -webkit-overflow-scrolling: touch; */
      /*margin-bottom: 1rem;*/
    }
  
    .slider.slider--mobile .slider__slide {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  
    .slider__slide{
      border: 1px solid crimson;
      display: block;
      width: 100%;
      padding: 0px;
      margin: 0px;
  
    }

    .product__media-list.grid__item.slider__slide{
        width: 50%;
        height: 100%;
    }



  }

