.productShowcaseWrapper{
    display: block;
    float: left;
    /* border: 1px solid cornflowerblue; */
    margin: 0;
    padding: 0;
    /* background-color: yellow; */

}

/*********** the div outside of div with class pro_wrapper **********/
#productShowcase{
    display: block;
    /* width: 50.0vw; */
    /* width: 50%; */
    height: 35.74vw;
    padding: 0;
    margin: 0;
    /* background-color: violet; */
}

/*define big product img slider*/
#productShowcase #prod_wrapper{
    display: block;
    float: left;
    overflow: hidden;
    border:0px;
    width: 50.0vw;
    height: 35.74vw;
    margin-bottom: 5px;
    padding: 0;
    margin: 0 auto;
    /* border: 1px solid rgb(140, 177, 54); */
}

#productShowcase #prod_wrapper .uni_imgSlider{
    margin: 0;
    padding: 0;
}

#productShowcase #prod_wrapper .uni_imgSlider .item{  /*re adjust margin-right to 0px*/
    margin-right: 0px;
    margin: 0;
    padding: 0;
}

#productShowcase #prod_wrapper .uni_imgSlider .item img{
    display: block;
    width: 50.0vw; 
    height: 35.74vw;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid crimson; */
}


/******define small product img slider*******/
#productPeekShowcase #prodPeek_wrapper{
    display: block; 
    overflow: hidden;
    white-space: nowrap;
    /* width: 390px; */
    width: 50.0vw;
    padding: 0px;
    margin: 0px;
    /* border: 1px solid coral; */
}

#prodPeek_wrapper .uni_imgSlider{
    margin: 0;
    padding: 0;
}

#prodPeek_wrapper .uni_imgSlider .item{  /*re adjust margin-right to 0px*/
    margin: 0;
    padding: 0;
    margin-right: 0px;

}

#prodPeek_wrapper .uni_imgSlider .item img{
    display: block; 
    width: 120px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


/* setting stock quantity style */
div.stockNumStyle{  
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.stockNumStyle > a{
    text-decoration: none;
    font-size: 1.5em;
    /* color: #A4DE2F; */
    color: #000;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

div.stockNumStyle > a:hover{
    /* color: #78a61a; */
    color: #000;
}

div.stockNumStyle span{
    color: #a4de2f;
    font-size: 1.5em;
    padding-left: 0.3em;
}

/* setting optionName style */
.optionNameStyle{
    /* background-color: bisque; */
    height: 1.5em;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 2em;
    /* border-bottom: 1px solid #78a61a; */
}

.optionNameStyle span{
    color: #a4de2f;
}

#optionNameStyle-2{
    margin-top: 2em;
    /* border: 1px solid chocolate; */
}

/* img.paymentOptionStyle{
    width: 100 !important;

} */



/******define small product img slider(for mobile max-width:749px)*******/
@media screen and (max-width: 749px) {
    #productShowcase #prod_wrapper{ /* set slider container(overflow:hidden) width*/
        width: 92.0vw;
        height: 61.33vw;
        clear: both;
    }

    #productShowcase #prod_wrapper .uni_imgSlider .item img{
        width: 92.0vw;
        height: 61.33vw;
    }

    #productPeekShowcase #prodPeek_wrapper{ /* set slider container(overflow:hidden) width*/
        width: 92.0vw;
    }

    #productPeekShowcase #prodPeek_wrapper .uni_imgSlider .item img{
        width: 75px;
        height: 50px;
    }

    
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
        #productShowcase{
            clear: both;
            width: 92.0vw;
            height: 61.33vw;
        }

        #productShowcase #prod_wrapper{ /* set slider container(overflow:hidden) width*/
            width: 92.0vw;
            height: 61.33vw;
        }

        #productShowcase #prod_wrapper .uni_imgSlider .item img{
            width: 92.0vw;
            height: 61.33vw;
        }

        #productPeekShowcase{
            clear: both;
        }

        #productPeekShowcase #prodPeek_wrapper{ /* set slider container(overflow:hidden) width*/
            width: 92.0vw;
        }

    }


/* Misty desktop width 1600px*/
@media screen and (min-width: 1024px) and (max-width: 1600px){

    /*********** the div outside of div with class pro_wrapper **********/
    #productShowcase{
        display: block;
        /* width: 50.0vw; */
        /* width: 50%; */
        /* height: 37.17vw; */
        /* height: 37.89vw; */
        /* height: 38.60vw; */
        height: 39.32vw;
        padding: 0;
        margin: 0;
        /* background-color: violet; */
    }

    /*define big product img slider*/
    #productShowcase #prod_wrapper{
        display: block;
        float: left;
        overflow: hidden;
        border:0px;
        /* width: 50.0vw; */
        /* height: 35.74vw; */
        /* width: 52.0vw;
        height: 37.17vw; */
        /* width: 53.0vw;
        height: 37.89vw; */
        /* width: 54.0vw;
        height: 38.60vw; */
        width: 55.0vw;
        height: 39.32vw;
        margin-bottom: 5px;
        padding: 0;
        margin: 0 auto;
        /* border: 1px solid rgb(140, 177, 54); */
    }

    #productShowcase #prod_wrapper .uni_imgSlider{
        margin: 0;
        padding: 0;
    }

    #productShowcase #prod_wrapper .uni_imgSlider .item{  /*re adjust margin-right to 0px*/
        margin-right: 0px;
        margin: 0;
        padding: 0;
    }

    #productShowcase #prod_wrapper .uni_imgSlider .item img{
        display: block;
        /* width: 52.0vw; 
        height: 37.17vw; */
        /* width: 53.0vw;
        height: 37.89vw; */
        /* width: 54.0vw;
        height: 38.60vw; */
        width: 55.0vw;
        height: 39.32vw;
        padding: 0px;
        margin: 0px;
        /* border: 1px solid crimson; */
    }


    /******define small product img slider*******/
    #productPeekShowcase #prodPeek_wrapper{
        display: block; 
        overflow: hidden;
        white-space: nowrap;
        /* width: 390px; */
        /* width: 52.0vw; */
        /* width: 53.0vw; */
        /* width: 54.0vw; */
        width: 55.0vw;
        padding: 0px;
        margin: 0px;
        /* border: 1px solid coral; */
    }

    #prodPeek_wrapper .uni_imgSlider{
        margin: 0;
        padding: 0;
    }

    #prodPeek_wrapper .uni_imgSlider .item{  /*re adjust margin-right to 0px*/
        margin: 0;
        padding: 0;
        margin-right: 0px;

    }

    #prodPeek_wrapper .uni_imgSlider .item img{
        display: block; 
        width: 120px;
        height: 80px;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

}