#product_main {
	position:relative;
    display: block;
    overflow: auto;
	width: 100%;
}
#product_main h1 {
	align-content: center;
	text-align: center;
}

#product_main div {
	display: block;
	overflow: hidden;
	border: 0px;
}
#product_main div ul {
	display: block;
    list-style: none;
	padding: 0px;
    margin: 0px;
    height: auto;
    font-size: 1.3vw;
}

#product_main div ul li {
	display: block;
    list-style: none;
    height: auto;
	padding: 0px;
    margin: 0px;
}

#product_main div ul li ul{
	display: block;
    float: left;
	padding: 0px;
    margin: 0px;
}

.product_main_ul_floatClear{
    clear: both;
}

#product_main div ul li ul li {
	list-style: none;
	font-size: calc(14px + (36 - 14) * ((100vw - 320px) / (2560 - 320)));
	display: block;
	border-width: 0px;
	border-style: solid;
	border-color: lightgray;
	padding: 1em;
}

#product_main .rtBoder1px {
	border-right-width: 1px;
}

#product_main .ltBoder1px {
	border-left-width: 1px;
}

#product_main .btBoder1px {
	border-bottom-width: 1px;
}
#product_main .topRtBoder1px {
	border-top-width: 1px;
	border-top-color: black;
}

#product_main .topLtBoder1px {
	border-top-width: 1px;
	border-top-color: black;
}

.product_main_lfUl_with{
    width: 28%;
    margin-left: 2em;
}

.product_main_rtUl_with{
    width: 70%;
    margin-right: 2em;
}



.add {
    display: block;
    position: relative;
    float: left;
    border: 1.0vw solid coral;
    width: 2.0vw;
    height: 2.0vw;
    margin-top: 1.0vw;
    margin-left: 1.2vw;
    /* color: #fff; */
    color: #ccc;
    transition: color .25s;
    
}

.add::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2.6vw;
    margin-left: -1.3vw;
    margin-top: -0.2vw;
    border-top: 0.4vw solid;
}

.add::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.6vw;
    margin-left: -0.2vw;
    margin-top: -1.3vw;
    border-left: 0.4vw solid;
}

.minus {
    display: block;
    position: relative;
    float: left;
    border: 1.0vw solid;
    width: 2.0vw;
    height: 2.0vw;
    color: #ccc;
    /* color: #fff; */
    transition: color .25s;
    margin-top: 1.0vw;
    margin-left: 1.2vw;
    
}

.minus::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2.6vw;
    margin-left: -1.3vw;
    margin-top: -0.2vw;
    border-top: 0.4vw solid;
}

.speMenu{
    font-size: 2.5vw;
    padding-left: 10px;
}

.roundCorner{
    display: block;
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 0.2vw 0.4vw;
    background: #029789;
    width: 5.0vw;
    height: 1.5vw;
    border-radius: 0.4vw;
	margin-left: 0.5vw;
	margin-bottom: 1.0vw;
}

.bigMenuStyle{
	font-size: 3.5vw;
    margin-bottom: 10px;
	font-weight: bold;
	color: black;
    width: 100%;
    display: block;
}

.detail_menu_style{  /* set container of add and minus icon */
    display: block;
    height: 4.0vmax;
    cursor: pointer;
    /* border: 2px solid rgb(161, 21, 21); */
    /* background-color: rgb(214, 216, 211); */
}

/* set universal dot button style */
.leftBtns .buttonDotSolid{
    display: block;
    float: left;
    width: 1vw;
    height: 1vw;
    background:black;
    cursor: pointer;
    border: 0.2vw solid gray;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    margin-left: 2vmax;
}

.leftBtns .buttonDotEmpty{
    display: block;
    float: left;
    width: 1vw;
    height: 1vw;
    background: #fff;
    cursor: pointer;
    border: 0.2vw solid gray;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    margin-left: 2vmax;
}

@media screen and (max-width: 749px) {
    .speMenu{
        font-size: 1.8vmax;  /* set size of sub specification menu words */
    }

    #product_main div ul li ul li{
        /* height: 10em; */
        vertical-align: middle;
    }
    #product_main .rtBoder1px {
        clear: both;
    }

    #product_main div ul li ul{
        clear: both;
        width: 95%;
    }
    #product_main .rtBoder1px {
        font-weight: bold;
        border-right: 0px;
    }
    .product_main_lfUl_with{
        width: 100%;
    }
    
    .product_main_rtUl_with{
        width: 100%;
    }

    #product_main .topLtBoder1px {
        border-top-width: 0px;
        border-top-color: lightgray;
    }

    #product_main div ul li ul li {
        padding: 0.5em;
    }

    .speMenu{
        font-size: 2.5vmax;  /* set size of sub specification menu */
    }

    .add {
        margin-top: 14px;
        
    }

    .minus {
        margin-top: 14px;
        
    }

    .bigMenuStyle{
        font-size: 25px;  /* define size of word "Specification" */
    }

    .leftBtns .buttonDotEmpty{
        width: 0.8em;
        height: 0.8em;
        font-size: 0.8em;
        border: 0.1em solid gray;
    }

    .leftBtns .buttonDotSolid{
        width: 0.8em;
        height: 0.8em;
        font-size: 0.8em;
        border: 0.1em solid gray;
    }
}

/* 1792x828px at 326ppi iphone11*/
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
        #product_main div ul li ul{
            clear: both;
            width: 95%;
        }
        #product_main .rtBoder1px {
            font-weight: bold;
            border-right: 0px;
        }
        .product_main_lfUl_with{
            width: 100%;
        }
        
        .product_main_rtUl_with{
            width: 100%;
        }

        #product_main .topLtBoder1px {
            border-top-width: 0px;
            border-top-color: lightgray;
        }

        #product_main div ul li ul li {
            padding: 0.5em;
            padding-left: 1.6em;
        }

        .speMenu{
            font-size: 2.5vmax;  /* set size of sub specification menu */
        }

        .add {
            margin-top: 14px;
            
        }

        .minus {
            margin-top: 14px;
            
        }

        .bigMenuStyle{
            font-size: 25px;  /* define size of word "Specification" */
        }
    }


