.productShowcaseWrapper{
    display: block;
    float: left;
    border: 0px solid cornflowerblue;
    margin: 0px;
    padding: 0;
    /* background-color: yellow; */

}

/*********** the div outside of div with class pro_wrapper **********/
#productShowcase{
    display: block;
    width: 50.0vw;
    height: 33.33vw;
    padding: 0;
    margin: 0;
    /* background-color: violet; */
}

/*define big product img slider*/
#productShowcase #prod_wrapper{
    display: block;
    float: left;
    overflow: hidden;
    border:0px;
    width: 50.0vw;
    height: 33.33vw;
    margin-bottom: 5px;
    padding: 0;
    margin: 0;
}

#productShowcase #prod_wrapper .uni_imgSlider .item{  /*re adjust margin-right to 0px*/
    margin-right: 0px;
}

#productShowcase #prod_wrapper .uni_imgSlider .item img{
    display: block;
    width: 50.0vw;
    height: 33.33vw;
    padding: 0px;
    margin: 0px;
    border: 0px solid crimson;
}


/******define small product img slider*******/
#productPeekShowcase #prodPeek_wrapper{
    display: block; 
    overflow: hidden;
    white-space: nowrap;
    /* width: 390px; */
    width: 50.0vw;
    padding: 0px;
    margin: 0px;
    border: 0px solid coral;
}

#prodPeek_wrapper .uni_imgSlider .item{  /*re adjust margin-right to 0px*/
    margin: 0;
    padding: 0;
    margin-right: 0px;

}

#prodPeek_wrapper .uni_imgSlider .item img{
    display: block; 
    width: 120px;
    height: 80px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/******define small product img slider(for mobile max-width:749px)*******/
@media screen and (max-width: 749px) {
    #productShowcase #prod_wrapper{ /* set slider container(overflow:hidden) width*/
        width: 92.0vw;
        height: 61.33vw;
        clear: both;
    }

    #productShowcase #prod_wrapper .uni_imgSlider .item img{
        width: 92.0vw;
        height: 61.33vw;
    }

    #productPeekShowcase #prodPeek_wrapper{ /* set slider container(overflow:hidden) width*/
        width: 92.0vw;
    }

    #productPeekShowcase #prodPeek_wrapper .uni_imgSlider .item img{
        width: 75px;
        height: 50px;
    }

    
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
        #productShowcase{
            clear: both;
            width: 92.0vw;
            height: 61.33vw;
        }

        #productShowcase #prod_wrapper{ /* set slider container(overflow:hidden) width*/
            width: 92.0vw;
            height: 61.33vw;
        }

        #productShowcase #prod_wrapper .uni_imgSlider .item img{
            width: 92.0vw;
            height: 61.33vw;
        }

        #productPeekShowcase{
            clear: both;
        }

        #productPeekShowcase #prodPeek_wrapper{ /* set slider container(overflow:hidden) width*/
            width: 92.0vw;
        }

    }


