.pageMainLayout{
  width: 70%;
  margin: 0 auto;
}

.mainBanner{
  width: 100%;
  /* text-align: center; */
}

.mainBanner img{
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid #6666660f;
  /* border: 1px solid chocolate; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.mainContent{
  display: flex;
  justify-content: center;
  margin-left: 0px;
  /* margin-top: -50px; */
}

.leftContent{
  display: block;
  /* border: 1px solid cornflowerblue; */
  height: auto; /*setting page height*/
  width: 76%;
  /* margin-left: -20px; */
  margin-top: 20px;
  background-color: white;
}

.leftContentTitle{
  width: 100%;
  font-size: 30px;
  line-height: 30px;
  /* border: 1px solid chocolate; */
  text-align: center;
  color: black;
  font-weight: bold;
  margin: 30px auto 50px auto !important;
  /* margin: 15px auto 15px auto; */
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
}

.leftContentSubtitle{
  width: 90%;
  display: flex;
  /* border: 1px solid crimson; */
  justify-content: space-between;
  color: #A3A3A3;
}

.leftContentSubtitle div:nth-child(2) a{
  color: inherit;
}

.leftContentSubtitle div:nth-child(2) a i{
  padding-left: 10px;
  
}

.leftContentSubtitle, .leftContentBriefContent, .contentNavigator{
  margin-left: 0px;
}

.contentNavigator{
  margin-left: 0px;
}

.leftContentBriefContent{
  width: 90%;
}

.subNavigator1{
  width: 100%;
  padding-top: 50px;
  font-size: 28px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 0;
  color: #000;
}

.subNavigator1_a > ul{
  list-style: decimal;
  padding: 0;
  margin: 0;
}

.subNavigator1_a > ul > li{
  /* border: 1px solid chocolate; */
  padding: 0;
  margin: 0;
  list-style-type: decimal;
  margin-left: 20px;

}

.subNavigator1_a > ul > li a{
  text-decoration: none;
  color: #a4de2f;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.subNavigator1_a > ul > li a:hover{
  color: #78a61a;
}

p > span.spanBold{
  font-weight: bold;
  color: #000;
}

.subNavigator1_a > ul.dotUlLi{
  list-style-type: disc;
}

.subNavigator1_a > ul.dotUlLi > li{
  list-style-type: disc;
}

.subNavigator1_a > ul.dotUlLi > li p{
  padding: 0;
  margin: 0;
}


.subNavigator1_a > ul > li > p > img{
  display: block;
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid chartreuse; */
}

.subNavigator1_a > p > img{
  display: block;
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid chartreuse; */
}

#CommentForm-author{
  /* color: #141414 !important; */
  /* background-color: darkgray; */
  background-color: #a4de2f;
  border: 0px !important;
  color: white;
}

#CommentForm-author:hover{
  border: 0px !important;
}


#CommentForm-email{
  /* color: #141414 !important; */
  /* background-color: darkgray; */
  background-color: #a4de2f;
  border: 0px !important;
  color: white;
}

#CommentForm-body{
  background-color: #a4de2f;
  color: white;
}

#comments form input[type=submit]{
  background-color: #a4de2f;
  color: white;
  border: 0;

}


/*******rightContent block***********/
.rightContent{
  /* border: 1px solid cornflowerblue; */
  height: 4600px;  /*setting page height*/
  width: 26%;
  margin: 0 0 0 20px;
  /* background-color: #999; */
  /* background-color: rgba(206,206,206,0.2); */
  /* background-color:  rgba(65,65,65,0.1);  */
}

.rightContent > div:nth-child(2){
  background-color: rgba(197, 197, 197, 0.2);
  padding: 0 10px;
  margin: 0;
  padding-top: 30px;
}

.rightContent > div:nth-child(3){
  background-color: rgba(197, 197, 197, 0.2);
  padding: 0  10px;
  margin: 0;
  /* padding-top: 30px; */
}

.rightContent > div:nth-child(4){
  background-color: rgba(197, 197, 197, 0.2);
  padding: 0  10px;
  margin: 0;
  /* padding-top: 30px; */
}

.rightContent > div:nth-child(2) > ul{
  width: 80%;
  list-style: none;
  margin: 0;
  padding: 0 15px;
  padding-top: 15px;
  margin: 0px auto;
  padding-bottom: 50px;
  /* border: 1px solid chocolate; */

}

.rightContent > div > ul > li{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.rightContent > div > ul > li:nth-child(2){
  font-size: 20px;
  font-weight: bold;
}

.rightContent > div > ul > li > a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.rightContent > div > ul > li > a > img{
  display: block;
  border: 0;
}

.rightContent > div.rightContent_productSuggest ul li a{
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.rightContent > div.rightContent_productSuggest ul li a:hover{
  color: #78a61a;
}

.rightContent > div.popularBlogsBlock ul li a{
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.rightContent > div.popularBlogsBlock ul li a:hover{
  color: #78a61a;
}

.rightContentbtn{
  background: none;
  background-color: #a4de2f;
  border: 1px solid #a4de2f;
  cursor: pointer;
  width: 150px;
  height: 38px;
  font-weight: bold;
  font-size: 13px;
}

.subscribe_block_frame{
  width: 100%;
  padding: 20px 10px;
  border: 1px solid lightgray;
  margin: 0px auto 30px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.subscribe_block_frame div{
  text-align: center;
}

.subscribe_block_frame div:first-child{
  font-size: 20px;
  font-weight: bold;
}

.subscribe_block_frame div:nth-child(2){
  font-size: 12px;
}

.subscribe_block_frame input[type=email]{
  border: 1px solid #666;
  width: 50%;
}

.subscribe_block_frame input[type=email]:focus{
  border: 1px solid #666;
  outline: none;
  width: 50%;
  box-shadow: none;
}

.subscribe_block_frame input[type=email]:hover:focus{
  border: 1px solid #666;
  outline: none;
  width: 50%;
}

.subscribe_block_frame button[type=submit]{
  background: none;
  width: 50%;
  background-color: black;
  color: white;
  border: 0;
  cursor: pointer;
}


/* popular blogs blogs */
.popularBlogsBlock{
  /* background-color: coral; */
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.popularBlogsBlock ul{
  padding: 0 20px;
  margin: 0;
  padding-top: 20px;
}

.popularBlogsBlock ul li{
  padding: 0;
  margin: 0;
}

.popularBlogsBlock ul li:nth-child(2){
  padding: 0 10px;
  margin: 10px 10px;
  font-size: 18px !important;
  font-weight: bold;
  line-height: 19px;

}

.popularBlogsBlock ul li:nth-child(3){
  padding: 0;
  margin: 0;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 10px;
  /* border: 1px solid chartreuse; */
  padding-bottom: 10px !important;
}

.popularBlogsBlock ul li:nth-child(4){
  padding-bottom: 20px;
}


/* 1792x828px at 326ppi iphone11*/
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2){
      .rightContent{
        display: none;
      }

      .leftContent{
        width: 100%;
        margin-top: 0px;
      }

      .pageMainLayout{
        width: 100%;
        margin: 0 auto;
      }

      .mainBanner img{
        width: 100%;
      }
      
      .mainContent{
        margin-left: 0px;
        /* margin-top: -50px; */
      }

      .leftContentTitle, .leftContentSubtitle, .leftContentBriefContent, .contentNavigator{
        margin-left: 0px;
        padding-left: 30px;
        padding-right: 30px;
      }

      .contentNavigator{
        display: flex;
        /* flex-direction: column; */
        /* margin-bottom: 60px; */
      }

      .contentNavigator ul:first-child{
        padding: 0;
        text-align: right;
        width: 40%;
        border-right: 1px solid lightgray;
        /* border: 1px solid cyan; */
        margin-left: 0px;
        color: #5e5e5e;
      
      }

      .contentNavigator ul:nth-child(2){
        padding: 0;
        padding-left: 10px;
      }

      .subNavigator1{
        width: 100%;
        padding: 30px 20px 10px 20px;
        font-size: 28px;
        font-weight: bold;
        margin-left: 0px;
      }

      .subNavigator1_a{
        padding: 0 20px;
      }

    }