.pageMainLayout{
  width: 76%;
  margin: 0 auto;
}
.mainContent{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -50px; */
}

.leftContent{
  display: block;
  /* border: 1px solid cornflowerblue; */
  /* height: 4700px;  */
  height: auto;
  width: 76%;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  color: #141414;
  /* margin-left: -20px; */
  margin: 50px auto 20px auto;
  background-color: white;
  text-align: center;
}



#CommentForm-author{
  /* color: #141414 !important; */
  /* background-color: darkgray; */
  background-color: #a4de2f;
  border: 0px !important;
  color: white;
}

#CommentForm-author:hover{
  border: 0px !important;
}


#CommentForm-email{
  /* color: #141414 !important; */
  /* background-color: darkgray; */
  background-color: #a4de2f;
  border: 0px !important;
  color: white;
}

#CommentForm-body{
  background-color: #a4de2f;
  color: white;
}

#comments form input[type=submit]{
  background-color: #a4de2f;
  color: white;
  border: 0;

}

/* .element-margin.center{
  border: 1px solid coral;
  padding-top: 0;
  margin-top: 0;
}

.article-template{
  border: 1px solid cornflowerblue;
  padding-top: 0;
  margin-top: 0;

} */

/*******rightContent block***********/
.rightContent{
  display: block;
  /* border: 1px solid cornflowerblue; */
  /* height: 4600px;   */
  height: auto;
  width: 26%;
  margin: 0 20px;
  /* background-color: #999; */
  /* background-color: rgba(206,206,206,0.2); */
  /* background-color:  rgba(65,65,65,0.1);  */
}

.rightContent > div:nth-child(2){
  background-color: rgba(197, 197, 197, 0.2);
  padding: 0 10px;
  margin: 0;
  padding-top: 30px;
}

.rightContent > div:nth-child(3){
  background-color: rgba(197, 197, 197, 0.2);
  padding: 0  10px;
  margin: 0;
  /* padding-top: 30px; */
}

.rightContent > div:nth-child(4){
  background-color: rgba(197, 197, 197, 0.2);
  padding: 0  10px;
  margin: 0;
  /* padding-top: 30px; */
}

.rightContent > div:nth-child(2) > ul{
  width: 80%;
  list-style: none;
  margin: 0;
  padding: 0 15px;
  padding-top: 15px;
  margin: 0px auto;
  padding-bottom: 50px;
  /* border: 1px solid chocolate; */

}

.rightContent > div > ul > li{
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.rightContent > div > ul > li:nth-child(2){
  font-size: 20px;
  font-weight: bold;
}

.rightContent > div > ul > li > a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.rightContent > div > ul > li > a > img{
  display: block;
  border: 0;
}

.rightContentbtn{
  background: none;
  background-color: #a4de2f;
  border: 1px solid #a4de2f;
  cursor: pointer;
  width: 150px;
  height: 38px;
  font-weight: bold;
  font-size: 13px;
}

.subscribe_block_frame{
  width: 130%;
  height: 14em;
  padding: 20px 10px;
  border: 1px solid lightgray;
  margin: 0px auto 30px auto;
  margin-right: -100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.subscribe_block_frame div{
  text-align: center;
}

.subscribe_block_frame div:first-child{
  font-size: 25px;
  font-weight: bold;
}

.subscribe_block_frame div:nth-child(2){
  font-size: 12px;
}

.subscribe_block_frame input[type=email]{
  border: 1px solid #666;
  width: 50%;
}

.subscribe_block_frame input[type=email]:focus{
  border: 1px solid #666;
  outline: none;
  width: 50%;
  box-shadow: none;
}

.subscribe_block_frame input[type=email]:hover:focus{
  border: 1px solid #666;
  outline: none;
  width: 50%;
}

.subscribe_block_frame button[type=submit]{
  background: none;
  width: 30%;
  height: 2em;
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 1em;
  font-weight: bold;
}


/* popular blogs blogs */
.popularBlogsBlock{
  /* background-color: coral; */
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.popularBlogsBlock ul{
  padding: 0 20px;
  margin: 0;
  padding-top: 20px;
}

.popularBlogsBlock ul li{
  padding: 0;
  margin: 0;
}

.popularBlogsBlock ul li:nth-child(2){
  padding: 0 10px;
  margin: 10px 10px;
  font-size: 18px !important;
  font-weight: bold;
  line-height: 19px;

}

.popularBlogsBlock ul li:nth-child(3){
  padding: 0;
  margin: 0;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 10px;
  /* border: 1px solid chartreuse; */
  padding-bottom: 10px !important;
}

.popularBlogsBlock ul li:nth-child(4){
  padding-bottom: 20px;
}


@media screen and (min-width:750px) and (max-width:1366px) {
  .mainContent{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    /* margin-top: -50px; */
    /* border: 1px solid coral; */
  }

  .subscribe_block_frame{
    width: 100%;
    height: 14em;
    padding: 20px 10px;
    border: 1px solid lightgray;
    margin: 0px auto 30px auto;
    margin-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  }
  .subscribe_block_frame div:first-child{
    font-size: 20px;
    font-weight: bold;
  }

  .subscribe_block_frame button[type=submit]{
    background: none;
    width: 60%;
    height: 2em;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 1em;
    font-weight: bold;
  }

  .leftContentTitle{
    width: 80%;
    font-size: 30px;
    /* border: 1px solid chocolate; */
    /* text-align: center; */
    color: black;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}


@media screen and (max-width: 749px){
  .rightContent{
    display: none;
  }

  .leftContent{
    width: 100%;
    margin-top: 0px;
  }

  .pageMainLayout{
    width: 100%;
    margin: 0 auto;
  }

  .mainBanner img{
    width: 100%;
  }
  
  .mainContent{
    margin-left: 0px;
    /* margin-top: -50px; */
  }

  .leftContentTitle, .leftContentSubtitle, .leftContentBriefContent, .contentNavigator{
    margin-left: 0px;
    padding-left: 30px;
  }

  .contentNavigator{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 60px; */
  }

  .contentNavigator ul:first-child{
    padding: 0;
    text-align: right;
    width: 50%;
    border-right: 1px solid lightgray;
    /* border: 1px solid cyan; */
    margin-left: 0px;
    color: #5e5e5e;
  
  }

  .contentNavigator ul:nth-child(2){
    padding: 0;
  }

  .subNavigator1{
    width: 100%;
    padding-top: 30px;
    font-size: 28px;
    font-weight: bold;
    margin-left: 0px;
  }

  .subNavigator1_a > div > div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: flex-start; */
    align-items: center;
    /* border: 1px solid cornflowerblue; */
    margin-left: 0px;
    /* padding-left: 10px; */
    padding: 0 10px;
  }

  .subNavigator1_a > div > div:nth-child(2) p{
    padding: 0 10px;
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .subNavigator2{
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    margin-left: 0px;
    color: #141414;
    padding-top: 30px;
  }
  
  .subNavigator2Img{
    padding: 0 10px;
    margin: 0;
    margin-left: 0px;
  }
  
  .subNavigator2_a{
    margin-left: 0px;
    color: #595959;
  }

  .subNavigator2_a > div > div p:first-child{
    padding: 0 10px;
    margin: 0;
    font-size: 21px;
    font-weight: bold;
  }
  
  .subNavigator2_a > div > div p:nth-child(2){
    padding: 0 10px;
    font-size: 18px;
  }

  .subNavigator3{
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    margin-left: 0px;
    color: #141414;
    padding-top: 30px;
  }
  
  .subNavigator3Img{
    padding: 0 10px;
    margin: 0;
    margin-left: 0px;
  }
  
  .subNavigator3Content{
    font-size: 20px;
    list-style-position: inside;
    padding: 0 10px;
  }

  .subNavigator3btmText{
    font-size: 20px;
    padding: 0 10px;
  }

}



/* 1792x828px at 326ppi iphone11*/
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
      .rightContent{
        display: none;
      }

      .leftContent{
        width: 100%;
        margin-top: 0px;
      }

      .pageMainLayout{
        width: 100%;
        margin: 0 auto;
      }

      .mainBanner img{
        width: 100%;
      }
      
      .mainContent{
        margin-left: 0px;
        /* margin-top: -50px; */
      }

      .leftContentTitle, .leftContentSubtitle, .leftContentBriefContent, .contentNavigator{
        margin-left: 0px;
        padding-left: 30px;
      }

      .contentNavigator{
        display: flex;
        flex-direction: column;
        /* margin-bottom: 60px; */
      }

      .contentNavigator ul:first-child{
        padding: 0;
        text-align: right;
        width: 50%;
        border-right: 1px solid lightgray;
        /* border: 1px solid cyan; */
        margin-left: 0px;
        color: #5e5e5e;
      
      }

      .contentNavigator ul:nth-child(2){
        padding: 0;
      }

      .subNavigator1{
        width: 100%;
        padding-top: 30px;
        font-size: 28px;
        font-weight: bold;
        margin-left: 0px;
      }

      .subNavigator1_a > div > div:first-child{
        display: flex;
        flex-direction: column;
        justify-content: left;
        /* align-items: flex-start; */
        align-items: center;
        /* border: 1px solid cornflowerblue; */
        margin-left: 0px;
        /* padding-left: 10px; */
        padding: 0 10px;
      }

      .subNavigator1_a > div > div:nth-child(2) p{
        padding: 0 10px;
        margin: 0;
        font-size: 18px;
        margin-bottom: 20px;
      }

      .subNavigator2{
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        margin-left: 0px;
        color: #141414;
        padding-top: 30px;
      }
      
      .subNavigator2Img{
        padding: 0 10px;
        margin: 0;
        margin-left: 0px;
      }
      
      .subNavigator2_a{
        margin-left: 0px;
        color: #595959;
      }

      .subNavigator2_a > div > div p:first-child{
        padding: 0 10px;
        margin: 0;
        font-size: 21px;
        font-weight: bold;
      }
      
      .subNavigator2_a > div > div p:nth-child(2){
        padding: 0 10px;
        font-size: 18px;
      }

      .subNavigator3{
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        margin-left: 0px;
        color: #141414;
        padding-top: 30px;
      }
      
      .subNavigator3Img{
        padding: 0 10px;
        margin: 0;
        margin-left: 0px;
      }
      
      .subNavigator3Content{
        font-size: 20px;
        list-style-position: inside;
        padding: 0 10px;
      }

      .subNavigator3btmText{
        font-size: 20px;
        padding: 0 10px;
      }

    }