.form-status.form-status-list.form__message{
  font-size: 20px;
  color: white;
}

.labelText{
  color: white;
  font-size: 20px;
  font-weight: 800;
}

.contactUsBanner{
  position: relative;
  width: 100%;
}

.contactUsBanner img{
  display: block;
  border: 0;
}

.contactUsBannerText{
  position: absolute;
  top: 30%;
  left: 20%;
  font-size: 48px;
  line-height: 58px;
  color: white;
  font-weight: bolder;
}

.mainFormArea{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  color: white;
  background-color: black;
  /* border: 1px solid cornflowerblue; */
}

.mainFormAreaText{
  width: 15%;
  /* border: 1px solid crimson; */
  margin-top: 100px;
}

.mainFormAreaText p{
  margin: 30px 0;
  font-size: 13px;
}


.formBlock{
  display: block;
  width: 50%;
  display: block;
  padding: 0px 50px;
  margin: 20px 0;
  height: auto;
  /* border: 1px solid chartreuse; */
}

.formBlock input{
  padding: 20px 0;
}

div.field{
  margin: 10px 0;
}

div.formBlock input:hover{
  border: 1px solid white;
}

#ContactForm-email.field__input input:hover{
  border: 1px solid white;
}

.formBlockTitle{
  font-size: 38px;
  font-weight: bold;
}

.formBlockTitleDes{
  font-size: 13px;
  margin-bottom: 20px;
}

div.contact__button button{
  background-color: #a4de2f;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

div.contact__button button:hover{
  background-color: #78a61a;
}

div.mainFormAreaText a{
  text-decoration: none;
  color: #a4de2f;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

div.mainFormAreaText a:hover{
  color: #78a61a;
}

.spanBoldFont{
  font-weight: bold;
}

a.naktoEmail{
  text-decoration: underline;
  color: white;

}

.socialIconStyle i{
  font-size: 30px;
  margin-right: 5px;
}

.socialIconStyle a{
  text-decoration: none;
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {

      .mainFormArea{
        flex-direction: column;
      }

      .mainFormAreaText{
        width: 90%;
        margin: 0px auto 0 auto;
        text-align: center;

      }

      .formBlock{
        width: 100%;
      }

      .contactUsBannerText{
        font-size: 15px;
        line-height: 20px;
        top: 30%;
      }

    }


@media screen and (max-width: 749px){
  .mainFormArea{
    flex-direction: column;
  }

  .mainFormAreaText{
    width: 90%;
    margin: 0px auto 0 auto;
    text-align: center;

  }

  .formBlock{
    width: 100%;
  }

  .contactUsBannerText{
    font-size: 15px;
    line-height: 20px;
    top: 30%;
  }
}