#tabBtnBlock{
    display: block;
    overflow:auto;
}

#tabBtnBlock .tabBtnDiv{
    margin: 0px;
    padding: 0px;
    width: 200px;
    display: flex;
    border: 0px solid cornflowerblue;
}

#tabBtnBlock .tabBtnDiv .tabBtn1 ul{
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#tabBtnBlock .tabBtnDiv .tabBtn1 ul li{
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    padding: 3px;
    margin-bottom: 5px;
}

#tabBtnBlock .tabBtnDiv .tabBtn2 ul{
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#tabBtnBlock .tabBtnDiv .tabBtn2 ul li{
    display: block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    padding: 3px;
    margin-bottom: 5px;
}

#tabBtnBlock .tabInfo{
    display: flex;
}

#tabBtnBlock .tabInfo .overall {
    padding: 0px;
    margin: 0px;
    display: block;
    position: relative;
    float: left;
}

#tabBtnBlock .tabInfo .overall ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: block;
    position: relative;
    float: left;
}

#tabBtnBlock .tabInfo .overall ul li{
    display: block;
    padding: 10px;
    padding-left: 20px;
    list-style: none;
}

.overallBtBoder1px{
    border-bottom: 1px solid;
    border-bottom-color: gray;
    border-right: 1px solid;
    border-right-color: gray;
}

.overallBtmBoder1px{
    border-bottom: 1px solid;
    border-bottom-color: gray;
}

.overallTopBoder1px{
    border-top: 2px solid;
    border-top-color: black;
}

.overallBgColor{
    background-color:rgb(214, 216, 215);
    font-size: 18px;
    font-weight: bold;
}

#tabBtnBlock .tabInfo .folded {
    padding: 0px;
    margin: 0px;
    display: block;
    position: relative;
    float: left;
}

#tabBtnBlock .tabInfo .folded ul{
    padding: 0px;
    margin: 0px;
    display: block;
    position: relative;
    float: left;
}

#tabBtnBlock .tabInfo .folded ul li{
    display: block;
    list-style: none;
    padding: 10px;
    padding-left: 20px;
}

#tabBtnBlock .foldedBgColor{
    background-color:rgb(214, 216, 215);
}

.tabRoundCorner{
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 2px 4px;
    background: #029789;
    width: 50px;
    height: 15px;
    border-radius: 4px;
	margin-left: 5px;
	margin-bottom: 10px;
}

#tabBtnBlock .bigMenuStyle{
	font-size: 40px;
    padding-left: 5px;
	height: 60px;
	font-weight: bold;
	color: black;
}


