#userfriendly {
    position: relative;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 100px;
    background-color: darkgrey;
}

#userfly_wrapper{
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0px;
    overflow: hidden;
    white-space: nowrap;
}

#imgSlid{
    padding: 0px;
    margin: 0px;
    display: flex;
}

#imgSlid .item{
    padding: 0px;
    margin-right: 10px;
    border: 0px solid #ff23ff;
    text-align: center;
    background-color: #ffffff;
    /* display: inline-block; */
}

#imgSlid .item ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    position: relative;
    display: block;
}

#imgSlid .item ul li{
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
    white-space:normal;
    word-wrap: break-word;
    text-align: left;
    font-size: 1.5vw;  /*image description body font */
    
}

#imgSlid .item ul .titleStyle{
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 2.0vw;  /*image description head font */
    font-weight: bold;
    position: relative;
    display: block;
    white-space:normal;
    word-wrap: break-word;
    text-align: left;
    
}

#imgSlid .item ul li img{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.userfriendly-desc{
    padding-left: 5px;
    width: 80%;
    font-size: 1.5vw; /*Block description head font */
    margin-bottom: 50px;
}

/*定义左侧按钮样式*/
#ctlBtn1{
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    float: left;

}

.my-circle-l{
    padding: 0px;
    margin: 0px;
    cursor: pointer;

}

.my-circle-r{
    padding: 0px;
    margin: 0px;
    cursor: pointer;

}



/*定义右侧按钮样式*/
#ctlBtn2{
    position: relative;
    padding: 0px;
    margin: 0px;
    display: flex;
    float:right;
}

/*定义右侧左箭头样式 */
#ctlBtn2 .my-left{
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#ctlBtn2 .my-left img{
    padding: 0px;
    margin: 0px;
    display: block;
    margin-bottom: 1px;
}

#ctlBtn2 .my-left:hover{
    background-color: darkgray;
}

/*定义右侧右箭头样式 */
#ctlBtn2 .myRight{
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

#ctlBtn2 .myRight img{
    padding: 0px;
    margin: 0px;
    display: block;
    margin-bottom: 1px;
}


#ctlBtn2 .myRight:hover{
    background-color: darkgray;
}



#userfriendly .tabRoundCorner{
    display: block;
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 2px 4px;
    background: #029789;
    width: 50px;
    height: 15px;
    border-radius: 4px;
	margin-left: 5px;
	margin-bottom: 10px;
}


