#userfriendly {
    position: relative;
    display: block;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 2vmax;
    font-family: "Montserrat", sans-serif;
    /* border: 1px solid cornflowerblue; */
}

#userfriendly .tabRoundCorner{
    display: block;
    color:white;
    text-align: center;
    border: 0px solid #a1a1a1;
    padding: 0.2vw 0.4vw;
    background: #A4DE2F;
    width: 5.0vw;
    height: 1.5vw;
    border-radius: 0.4vw;
	margin-left: 0.5vw;
	margin-bottom: 1.0vw;
}


#userfly_wrapper{
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: 0px;
    overflow: hidden;
    white-space: nowrap;
}


.userfriendly-desc{
    width: 50%;
    font-size: 1.1vw;  /*Block description head font */
    margin-bottom: 2em;
}

/*定义左侧按钮样式*/
#userfly_ctlBtn1{
    position: relative;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
    display: block;
    height: 50px;
    width: 100%;

}

#userfly_ctlBtn1 .leftBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 60%;
    height: 100%;
    padding-top: 2rem;
    /*background-color: blueviolet;*/
}

#userfly_ctlBtn1 .rightBtns{
    position: relative;
    padding: 0px;
    margin: 0px;
    float: right;
    width: 40%;
    height: 100%;
    /* background-color:burlywood; */
}

@media screen and (max-width: 749px) {
    .userfriendly-desc{
        font-size: 3.5vw;  /*Block description head font */
        width: 100%;

    }
    
}

